In [1]:
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
from matplotlib.mlab import bivariate_normal
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np
import warnings
import datetime as dt
import seaborn as sns
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
vistas = pd.read_csv('../data/adri_data/entrenamiento_vistas.csv');
vistas.head()

,idaviso,timestamp,idpostulante,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa
0,1112400775,2018-04-06T01:43:47.445-0400,kPjr2K0,9,1,20.0,4430,0,0,0,0,0,14,513
1,1112400775,2018-04-06T01:43:48.330-0400,kPjr2K0,9,1,20.0,4430,0,0,0,0,0,14,513
2,1112400775,2018-04-06T01:39:36.249-0400,kPjr2K0,9,1,20.0,4430,0,0,0,0,0,14,513
3,1112400775,2018-04-03T22:41:50.496-0400,rmRpqEA,12,1,32.0,4430,0,0,0,0,0,14,513
4,1112400775,2018-04-06T01:52:30.411-0400,EzEovD2,4,1,22.0,4430,0,0,0,0,0,14,513

In [3]:
postulaciones = pd.read_csv('../data/adri_data/entrenamiento_postulaciones.csv');
postulaciones.head()

,idaviso,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,fechapostulacion,valor_educacion,sexo,edad
0,1111556097,0,0,0,0,0,0,0,0,pzeVW63,2018-03-13 16:23:14,17,1,44.0
1,1112370711,6996,0,0,0,0,0,45,14,pzeVW63,2018-03-08 14:28:36,17,1,44.0
2,1112326655,11827,0,0,0,0,0,4,33,pzeVW63,2018-02-09 14:35:24,17,1,44.0
3,1112350182,2141,0,0,0,0,0,31,38,pzeVW63,2018-02-20 15:16:56,17,1,44.0
4,1112383837,6942,0,0,0,0,0,75,46,pzeVW63,2018-03-07 14:18:18,17,1,44.0

In [4]:
vistas = vistas[['idaviso',
'idpostulante',
'timestamp',
'valor_educacion',
'sexo',
'edad',
'idtitulo',
'idzona',
'idciudad',
'idmapacalle',
'idtipo_de_trabajo',
'idnivel_laboral',
'idnombre_area',
'iddenominacion_empresa']]

In [5]:
postulaciones = postulaciones[['idaviso',
'idpostulante',
'fechapostulacion',
'valor_educacion',
'sexo',
'edad',
'idtitulo',
'idzona',
'idciudad',
'idmapacalle',
'idtipo_de_trabajo',
'idnivel_laboral',
'idnombre_area',
'iddenominacion_empresa']]

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-5-e9e2de9e09eb>", line 14, in <module>
    'iddenominacion_empresa']]
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py", line 2133, in __getitem__
    return self._getitem_array(key)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py", line 2178, in _getitem_array
    return self._take(indexer, axis=1, convert=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 2150, in _take
    verify=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 4264, in take
    axis=axis, allow_dups=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 4146, in reindex_indexer
    fill_tuple=(fill_value,))
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 4226, in _slice_take_blocks_ax0
    fill_tuple=None))
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 1217, in take_nd
    allow_fill=False)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\algorithms.py", line 1386, in take_nd
    out = out.T
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1090, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 311, in wrapped
    return f(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 345, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1483, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1441, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "C:\ProgramData\Anaconda3\lib\site-packages\pytest.py", line 9, in <module>
    from _pytest.config import (
  File "C:\ProgramData\Anaconda3\lib\site-packages\_pytest\__init__.py", line 4, in <module>
    from ._version import version as __version__
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 665, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 674, in exec_module
  File "<frozen importlib._bootstrap_external>", line 764, in get_code
  File "<frozen importlib._bootstrap_external>", line 832, in get_data
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
postulaciones.rename({'fechapostulacion': 'timestamp'}, axis=1, inplace=True)
postulaciones.head()

In [ ]:
vistas['se_postulo'] = 0

In [ ]:
postulaciones['se_postulo'] = 1

In [ ]:
vistas.shape

In [ ]:
postulaciones.shape

In [ ]:
vistas_y_postulaciones = pd.concat([postulaciones, vistas], axis=0)
vistas_y_postulaciones.shape

In [ ]:
vistas_y_postulaciones.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas.csv', encoding='utf-8')

In [ ]:
# Convierto a numerico el id postulante
lb_make = LabelEncoder()
vistas_y_postulaciones["idpostulante2"] = lb_make.fit_transform(vistas_y_postulaciones["idpostulante"])
vistas_y_postulaciones[["idpostulante", "idpostulante2"]].head()

In [ ]:
postulantes_ids = vistas_y_postulaciones[["idpostulante", "idpostulante2"]].drop_duplicates()
postulantes_ids.to_csv('../data/adri_data/entrenamiento_id_postulantes.csv', encoding='utf-8', index=False)

In [ ]:
vistas_y_postulaciones.drop('idpostulante', axis=1, inplace=True)
vistas_y_postulaciones.rename({'idpostulante2': 'idpostulante'}, inplace=True, axis=1)
vistas_y_postulaciones.head()

In [ ]:
vistas_y_postulaciones.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas2.csv', encoding='utf-8', index=False)

In [6]:
vistas_y_postulaciones = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas2.csv', encoding='utf-8')

In [7]:
vistas_y_postulaciones.shape

(15849097, 15)

In [8]:
vistas_y_postulaciones.head()

,idaviso,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,idpostulante
0,1111556097,2018-03-13 16:23:14,17,1,44.0,0,0,0,0,0,0,0,0,1,365446
1,1112370711,2018-03-08 14:28:36,17,1,44.0,6996,0,0,0,0,0,45,14,1,365446
2,1112326655,2018-02-09 14:35:24,17,1,44.0,11827,0,0,0,0,0,4,33,1,365446
3,1112350182,2018-02-20 15:16:56,17,1,44.0,2141,0,0,0,0,0,31,38,1,365446
4,1112383837,2018-03-07 14:18:18,17,1,44.0,6942,0,0,0,0,0,75,46,1,365446

In [13]:
dup = vistas_y_postulaciones.duplicated(['idaviso', 'idpostulante'])
vistas_y_postulaciones[dup].shape

(6288554, 15)

In [15]:
vistas_y_postulaciones.drop_duplicates(['idaviso', 'idpostulante'], inplace=True)
vistas_y_postulaciones.shape

(9560543, 15)

In [16]:
vistas_y_postulaciones.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas3.csv', encoding='utf-8', index=False)

In [ ]:
vistas_y_postulaciones = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas3.csv', encoding='utf-8')