In [1]:
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
from matplotlib.mlab import bivariate_normal
import pandas as pd
from dateutil.parser import parse
import numpy as np
import warnings
import datetime as dt
import seaborn as sns
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
vistas = pd.read_csv('../data/adri_data/entrenamiento_vistas.csv');
vistas.head()

,idaviso,timestamp,idpostulante,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,esta_online,contenido,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa
0,1112400775,5.944092e+06,kPjr2K0,9,1,20,182,0,0,0,7597924801920901552,0,0,0,0,0,182,489
1,1112400775,5.944091e+06,kPjr2K0,9,1,20,182,0,0,0,7597924801920901552,0,0,0,0,0,182,489
2,1112400775,5.944343e+06,kPjr2K0,9,1,20,182,0,0,0,7597924801920901552,0,0,0,0,0,182,489
3,1112400775,6.127809e+06,rmRpqEA,12,1,33,2,0,0,0,7597924801920901552,0,0,0,0,0,182,489
4,1112400775,5.943569e+06,EzEovD2,4,1,22,182,0,0,0,7597924801920901552,0,0,0,0,0,182,489

In [3]:
postulaciones = pd.read_csv('../data/adri_data/entrenamiento_postulaciones.csv');
postulaciones.head()

,idaviso,esta_online,contenido,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref
0,1111556097,0,8159438729029635585,0,0,0,0,0,50,0,pzeVW63,7.979326e+06,17,1,44,119,0,0
1,1112370711,1,4306765247469621377,0,0,0,0,0,143,11,pzeVW63,8.418204e+06,17,1,44,119,0,0
2,1112326655,1,7959338346396781218,0,0,0,0,0,29,28,pzeVW63,1.075060e+07,17,1,44,119,0,0
3,1112350182,1,8789020298799968481,0,0,0,0,0,119,33,pzeVW63,9.797704e+06,17,1,44,119,0,0
4,1112383837,1,6513419378897462402,0,0,0,0,0,115,41,pzeVW63,8.505222e+06,17,1,44,119,0,0

In [4]:
postulaciones.columns

Index(['idaviso', 'esta_online', 'contenido', 'idzona', 'idciudad',
       'idmapacalle', 'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area',
       'iddenominacion_empresa', 'idpostulante', 'timestamp',
       'valor_educacion', 'sexo', 'edad', 'idnombre_area_pref',
       'idnivel_laboral_pref', 'idtipo_de_trabajo_pref'],
      dtype='object')

In [5]:
vistas = vistas[postulaciones.columns]

In [6]:
postulaciones = postulaciones[postulaciones.columns]

In [7]:
vistas['se_postulo'] = 0
postulaciones['se_postulo'] = 1

In [8]:
vistas.shape

(10471713, 19)

In [9]:
postulaciones.shape

(6188634, 19)

In [10]:
vistas_y_postulaciones = pd.concat([postulaciones, vistas], axis=0)
vistas_y_postulaciones.shape

(16660347, 19)

In [11]:
vistas_y_postulaciones.head()

,idaviso,esta_online,contenido,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,se_postulo
0,1111556097,0,8159438729029635585,0,0,0,0,0,50,0,pzeVW63,7.979326e+06,17,1,44,119,0,0,1
1,1112370711,1,4306765247469621377,0,0,0,0,0,143,11,pzeVW63,8.418204e+06,17,1,44,119,0,0,1
2,1112326655,1,7959338346396781218,0,0,0,0,0,29,28,pzeVW63,1.075060e+07,17,1,44,119,0,0,1
3,1112350182,1,8789020298799968481,0,0,0,0,0,119,33,pzeVW63,9.797704e+06,17,1,44,119,0,0,1
4,1112383837,1,6513419378897462402,0,0,0,0,0,115,41,pzeVW63,8.505222e+06,17,1,44,119,0,0,1

# Agrego la tercer clase

In [ ]:
top100 = pd.read_csv("../test_final_100k.csv", encoding='utf-8')
top100.head()

In [ ]:
top100_full = pd.merge(top100, vistas_y_postulaciones, how='left', on=['idaviso', 'idpostulante'])
top100_full.head()

In [ ]:
excluded = top100_full[top100_full['esta_online'].isnull()]
excluded.shape

In [ ]:
excluded = excluded[['id', 'idaviso', 'idpostulante']]
excluded.head()

In [ ]:
avisos_detalles = pd.read_csv('../data/adri_data/avisos_detalles.csv', encoding='utf-8')
avisos_detalles.head()

In [ ]:
excluded = pd.merge(excluded, avisos_detalles, how='inner', on='idaviso')
excluded.shape

In [ ]:
postulantes = pd.read_csv('../data/adri_data/postulantes2.csv', encoding='utf-8')
postulantes.shape

In [ ]:
excluded = pd.merge(excluded, postulantes, how='inner', on='idpostulante')
excluded.shape

In [ ]:
excluded['se_postulo'] = -1

In [ ]:
excluded.shape

In [ ]:
timestamps = pd.DataFrame(vistas_y_postulaciones.groupby('idaviso')['timestamp'].mean()).reset_index()
timestamps.head()

In [ ]:
excluded = pd.merge(excluded, timestamps, on='idaviso', how='left')
excluded.head()

In [ ]:
excluded = excluded[vistas_y_postulaciones.columns]
excluded.head()

In [ ]:
timestampmean = vistas_y_postulaciones['timestamp'].mean()
timestampmean

In [ ]:
excluded.loc[excluded['timestamp'].isnull(), 'timestamp'] = timestampmean
excluded.head()

In [ ]:
excluded[excluded['timestamp'].isnull()].head()

In [ ]:
excluded.loc[excluded['timestamp'].isnull(), 'timestamp'] = timestampmean
excluded.head()

# Mergeo con la tercer clase

In [ ]:
# vistas_y_postulaciones = pd.concat([vistas_y_postulaciones, excluded], axis=0)
# vistas_y_postulaciones.head()

In [ ]:
# vistas_y_postulaciones.shape

# Creo la lista de Ids numericos para los postulantes

In [12]:
# Convierto a numerico el id postulante
lb_make = LabelEncoder()
vistas_y_postulaciones["idpostulante_int"] = lb_make.fit_transform(vistas_y_postulaciones["idpostulante"])
vistas_y_postulaciones[["idpostulante", "idpostulante_int"]].head()

  idpostulante  idpostulante_int
0      pzeVW63            408101
1      pzeVW63            408101
2      pzeVW63            408101
3      pzeVW63            408101
4      pzeVW63            408101

In [13]:
# postulantes_ids = vistas_y_postulaciones[["idpostulante", "idpostulante2"]].drop_duplicates()
# postulantes_ids.to_csv('../data/adri_data/entrenamiento_id_postulantes.csv', encoding='utf-8', index=False)

In [14]:
# vistas_y_postulaciones.drop('idpostulante', axis=1, inplace=True)
# vistas_y_postulaciones.rename({'idpostulante_int': 'idpostulante'}, inplace=True, axis=1)
# vistas_y_postulaciones.head()

In [15]:
# vistas_y_postulaciones.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas2.csv', encoding='utf-8', index=False)

# Luego de mergear

In [16]:
# vistas_y_postulaciones = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas2.csv', encoding='utf-8')

In [17]:
vistas_y_postulaciones.shape

(16660347, 20)

In [18]:
vistas_y_postulaciones.head()

,idaviso,esta_online,contenido,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,se_postulo,idpostulante_int
0,1111556097,0,8159438729029635585,0,0,0,0,0,50,0,pzeVW63,7.979326e+06,17,1,44,119,0,0,1,408101
1,1112370711,1,4306765247469621377,0,0,0,0,0,143,11,pzeVW63,8.418204e+06,17,1,44,119,0,0,1,408101
2,1112326655,1,7959338346396781218,0,0,0,0,0,29,28,pzeVW63,1.075060e+07,17,1,44,119,0,0,1,408101
3,1112350182,1,8789020298799968481,0,0,0,0,0,119,33,pzeVW63,9.797704e+06,17,1,44,119,0,0,1,408101
4,1112383837,1,6513419378897462402,0,0,0,0,0,115,41,pzeVW63,8.505222e+06,17,1,44,119,0,0,1,408101

In [19]:
dup = vistas_y_postulaciones.duplicated(['idaviso', 'idpostulante'])
vistas_y_postulaciones[dup].shape

(6720239, 20)

In [20]:
vistas_y_postulaciones.drop_duplicates(['idaviso', 'idpostulante'], inplace=True)
vistas_y_postulaciones.shape

(9940108, 20)

In [21]:
vistas_y_postulaciones = vistas_y_postulaciones.sample(frac=1).reset_index(drop=True)

In [22]:
vistas_y_postulaciones.shape

(9940108, 20)

In [23]:
vistas_y_postulaciones.head()

,idaviso,esta_online,contenido,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,se_postulo,idpostulante_int
0,1112447947,1,5728580103100973137,0,0,0,0,0,33,3053,ZD8eJmV,5.758042e+06,12,1,26,151,0,0,1,292866
1,1112463782,1,9144784603792882177,0,0,0,0,0,111,33,Oqmlb0W,4.273506e+06,12,1,51,9,0,0,0,225419
2,1111413600,1,10135298285895688,1,0,38,1,3,14,1625,1QdPNo3,6.065104e+06,8,2,24,14,0,1,1,20212
3,1112269993,1,5657086555870726152,0,0,0,0,0,2,166,2zLV8ox,7.390404e+06,6,2,26,2,0,0,1,27990
4,1112376834,1,1206969553452548160,0,0,0,0,0,33,509,Ezldm18,8.339190e+06,12,1,23,34,0,0,1,158227

In [24]:
vistas_y_postulaciones.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas_contenido.csv', encoding='utf-8', index=False)

In [25]:
vistas_y_postulaciones.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9940108 entries, 0 to 9940107
Data columns (total 20 columns):
idaviso                   int64
esta_online               int64
contenido                 int64
idzona                    int64
idciudad                  int64
idmapacalle               int64
idtipo_de_trabajo         int64
idnivel_laboral           int64
idnombre_area             int64
iddenominacion_empresa    int64
idpostulante              object
timestamp                 float64
valor_educacion           int64
sexo                      int64
edad                      int64
idnombre_area_pref        int64
idnivel_laboral_pref      int64
idtipo_de_trabajo_pref    int64
se_postulo                int64
idpostulante_int          int64
dtypes: float64(1), int64(18), object(1)
memory usage: 2.0 GB