In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
%matplotlib inline

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# full_data = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas3.csv', encoding='utf-8')
# full_data.shape

In [3]:
# full_data.head()

In [4]:
# df = full_data[['idaviso', 'idpostulante', 'timestamp', 'valor_educacion', 'sexo', 'idtitulo', 
# 'idzona', 'idciudad', 'idmapacalle', 'idtipo_de_trabajo',
# 'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa', 'se_postulo']]
# 
# df['timestamp'] = df['timestamp'].apply(pd.to_datetime)
# 
# now = pd.Timestamp(dt.datetime.now())
# pd.to_datetime(now)
# 
# df['timestamp'] = (now - df['timestamp']).apply(lambda x: x.total_seconds())
# df.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8', index=False)

In [24]:
df = pd.read_csv('../data/adri_data/avisos_online_con_detalle_left.csv', encoding='utf-8')
df.head()

,idaviso,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,idpostulante
0,1111718795,3.708178e+06,17.0,1.0,23.0,12110.0,0.0,0.0,0.0,0.0,0.0,156.0,3772.0,0.0,141357.0
1,1111718795,3.850989e+06,12.0,1.0,27.0,12110.0,0.0,0.0,0.0,0.0,0.0,156.0,3772.0,0.0,358945.0
2,1111718795,3.740371e+06,12.0,1.0,24.0,12110.0,0.0,0.0,0.0,0.0,0.0,156.0,3772.0,0.0,336362.0
3,1111718795,3.224427e+06,11.0,1.0,32.0,12110.0,0.0,0.0,0.0,0.0,0.0,156.0,3772.0,0.0,292534.0
4,1111718795,4.648763e+06,10.0,1.0,30.0,12110.0,0.0,0.0,0.0,0.0,0.0,156.0,3772.0,0.0,129630.0

In [25]:
# X will have the numeric data, Y will have the target class
dfix = df[['idaviso','timestamp', 'valor_educacion', 'sexo', 'edad', 'idtitulo', 'idzona', 'idciudad','idmapacalle', 
           'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa', 'idpostulante']]
X = np.array(dfix)
y = np.array(df['se_postulo'])

In [26]:
# Split into train and test, use only 10% as test (15 flowers)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)
X_test

array([[1.11246031e+09, 4.79747507e+06, 1.00000000e+01, ...,
        2.90000000e+01, 4.86000000e+02, 2.37180000e+05],
       [1.11245824e+09, 4.74873627e+06, 1.70000000e+01, ...,
        1.40000000e+02, 7.13000000e+02, 2.54825000e+05],
       [1.11246927e+09, 4.17088654e+06, 1.20000000e+01, ...,
        1.52000000e+02, 2.65000000e+02, 2.19402000e+05],
       ...,
       [1.11242950e+09, 5.92284807e+06, 1.50000000e+01, ...,
        5.90000000e+01, 4.24500000e+03, 2.48775000e+05],
       [1.11241350e+09, 5.07099507e+06, 1.20000000e+01, ...,
        4.10000000e+01, 1.34800000e+03, 3.52096000e+05],
       [1.11246718e+09, 3.50168657e+06, 6.00000000e+00, ...,
        2.50000000e+01, 1.68600000e+03, 1.19103000e+05]])

In [27]:
y_test

array([1., 0., 0., ..., 1., 1., 0.])

In [28]:
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors=3)

In [29]:
# FIT (this does nothing in normal KNN)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [30]:
# predict the response
pred = knn.predict(X_test)
pred.shape

(591900,)

In [31]:
# evaluate accuracy
print (accuracy_score(y_test, pred)) # 3 = 0.8889779230366393
# evaluate accuracy
print (accuracy_score(y_test, pred)) # 5 = 0.8934198156362191

0.8162696401419158
0.8162696401419158

In [32]:
pred_df = pd.DataFrame(pred)
pred_df.head()

     0
0  1.0
1  0.0
2  0.0
3  0.0
4  0.0

# Predigo con todos los datos

In [137]:
top100 = pd.read_csv("../test_final_100k.csv", encoding='utf-8')

In [138]:
id_postulantes = pd.read_csv('../data/adri_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
id_postulantes.shape
id_postulantes.head()

  idpostulante  idpostulante2
0      pzeVW63         365446
1      PmVbBWY         209736
2      zvPMxvJ         409297
3       YYwJKq         250105
4      3NkMAVq          37024

In [139]:
top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
top100_full.head()

   id  idaviso idpostulante  idpostulante2
0   0   739260       6M9ZQR        63651.0
1   1   739260       6v1xdL        76877.0
2   2   739260       ezRKm9       323397.0
3   3   758580       1Q35ej            NaN
4   4   758580       EAN4J6       127342.0

In [140]:
# top100_full.drop('idpostulante', inplace=True, axis=1)
top100_full.rename({'idpostulante':'idpostulante_old'}, inplace=True, axis=1)
top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
top100_full.shape

(100000, 4)

In [141]:
top100_full.head()

   id  idaviso idpostulante_old  idpostulante
0   0   739260           6M9ZQR       63651.0
1   1   739260           6v1xdL       76877.0
2   2   739260           ezRKm9      323397.0
3   3   758580           1Q35ej           NaN
4   4   758580           EAN4J6      127342.0

In [142]:
top100_full[top100_full['idpostulante'].isnull()].shape

(15334, 4)

In [143]:
dfix2 = pd.merge(top100_full, dfix, how='inner', on=['idaviso','idpostulante'])
dfix2.shape

(97985, 16)

In [158]:
dfix2.head()

    id   idaviso idpostulante_old idpostulante  sepostulo  contador
0  594  17903700          Yj5q3xX       252853          0         1
1  594  17903700          Yj5q3xX       252853          0         1
2  594  17903700          Yj5q3xX       252853          0         1
3  594  17903700          Yj5q3xX       252853          0         1
4  594  17903700          Yj5q3xX       252853          0         1

In [144]:
dfix3 = dfix2[['idaviso','timestamp', 'valor_educacion', 'sexo', 'edad', 'idtitulo', 'idzona', 'idciudad','idmapacalle', 
           'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa', 'idpostulante']]

In [ ]:
dfix3[dfix3.duplicated(['idaviso', 'idpostulante'])]

In [145]:
dfix3.head()

,idaviso,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante
0,17903700,4.600113e+06,12,1,37,9407,0,0,0,0,0,122,1130,252853
1,17903700,4.580593e+06,12,1,37,9407,0,0,0,0,0,122,1130,252853
2,17903700,4.600116e+06,12,1,37,9407,0,0,0,0,0,122,1130,252853
3,17903700,4.189065e+06,12,1,37,9407,0,0,0,0,0,122,1130,252853
4,17903700,4.600057e+06,12,1,37,9407,0,0,0,0,0,122,1130,252853

In [146]:
X_full_data = np.array(dfix3)
X_full_data

array([[17903700, 4600112.658955, 12, ..., 122, 1130, 252853.0],
       [17903700, 4580592.834955, 12, ..., 122, 1130, 252853.0],
       [17903700, 4600116.173955, 12, ..., 122, 1130, 252853.0],
       ...,
       [1112477683, 3343630.395955, 12, ..., 2, 1427, 313128.0],
       [1112485441, 3538380.353955, 18, ..., 14, 686, 313527.0],
       [1112498129, 3029073.648955, 10, ..., 2, 1206, 24730.0]],
      dtype=object)

In [147]:
pred_full_data = knn.predict(X_full_data)

In [148]:
dfix2['sepostulo'] = pred_full_data

In [149]:
dfix2.drop(['valor_educacion', 'timestamp', 'sexo','edad','idtitulo','idzona','idciudad','idmapacalle',
            'idtipo_de_trabajo','idnivel_laboral','idnombre_area','iddenominacion_empresa'], inplace=True, axis=1)
dfix2.head()

    id   idaviso idpostulante_old idpostulante  sepostulo
0  594  17903700          Yj5q3xX       252853          0
1  594  17903700          Yj5q3xX       252853          0
2  594  17903700          Yj5q3xX       252853          0
3  594  17903700          Yj5q3xX       252853          0
4  594  17903700          Yj5q3xX       252853          0

In [150]:
dfix2[dfix2['id'] == 594]

    id   idaviso idpostulante_old idpostulante  sepostulo
0  594  17903700          Yj5q3xX       252853          0
1  594  17903700          Yj5q3xX       252853          0
2  594  17903700          Yj5q3xX       252853          0
3  594  17903700          Yj5q3xX       252853          0
4  594  17903700          Yj5q3xX       252853          0
5  594  17903700          Yj5q3xX       252853          0
6  594  17903700          Yj5q3xX       252853          0
7  594  17903700          Yj5q3xX       252853          0

In [151]:
dfix2['contador'] = 1

In [152]:
grouped = dfix2.groupby(['id', 'idaviso', 'idpostulante', 'idpostulante_old'])['sepostulo', 'contador'].sum().reset_index()
grouped.head()

    id     idaviso  idpostulante idpostulante_old  sepostulo  contador
0  594    17903700      252853.0          Yj5q3xX          0         8
1  595    17903700      222828.0          RzrDJlZ          0         1
2  609  1000139175      170021.0          LNKrDLr          0         3
3  610  1000139175      323242.0           exv4B8          3         3
4  637  1000468151      325851.0          jkMko3r          0         2

In [153]:
grouped['prob'] = grouped['sepostulo'] / grouped['contador']
grouped

In [154]:
grouped.head()

,id,idaviso,idpostulante,idpostulante_old,sepostulo,contador,prob
0,594,17903700,252853.0,Yj5q3xX,0,8,0.000000
1,595,17903700,222828.0,RzrDJlZ,0,1,0.000000
2,609,1000139175,170021.0,LNKrDLr,0,3,0.000000
3,610,1000139175,323242.0,exv4B8,3,3,1.000000
4,637,1000468151,325851.0,jkMko3r,0,2,0.000000
5,640,1000502125,149673.0,GNoLbRN,0,2,0.000000
6,655,1000686071,136761.0,EzZ9pl6,0,2,0.000000
7,702,1001135716,330476.0,kP0MvPQ,1,15,0.066667
8,704,1001135716,335727.0,kPjaNo0,1,4,0.250000
9,705,1001135716,125409.0,DrzxMGX,0,2,0.000000
10,708,1001135716,214353.0,QNPjZNN,0,1,0.000000
11,713,1001241610,8782.0,0zr1oV1,0,2,0.000000
12,715,1001241610,228870.0,VNrLOKE,1,1,1.000000
13,717,1001241610,30227.0,2zmmLVQ,0,2,0.000000
14,719,1001241610,152128.0,JBdDpl5,1,1,1.000000
15,720,1001284385,28086.0,2zQK15w,0,5,0.000000
16,722,1001284385,100822.0,96XRBGZ,0,3,0.000000
17,723,1001284385,84252.0,8MP5p9W,1,3,0.333333
18,724,1001284385,178961.0,MVeGMdp,0,3,0.000000
19,725,1001284385,317608.0,ekOBYM4,0,3,0.000000
20,728,1001284385,89240.0,8MaYkoD,0,3,0.000000
21,751,1001457766,4154.0,0zPX9GM,0,3,0.000000
22,801,1002206338,360546.0,pz9mQpm,0,2,0.000000
23,805,1002206338,269253.0,ZNWqqZ,0,1,0.000000
24,806,1002206338,106268.0,A36eYP5,0,2,0.000000
25,844,1002471470,118331.0,BmajddZ,0,1,0.000000
26,846,1002471470,295856.0,bOVXDjY,0,3,0.000000
27,847,1002471470,342902.0,lDwR81M,1,1,1.000000
28,848,1002471470,404414.0,xkpBZJ0,0,1,0.000000
29,850,1002471470,38206.0,3NzeJ5x,0,2,0.000000
...,...,...,...,...,...,...,...
38585,90319,1112467339,346323.0,mzbQAo6,2,2,1.000000
38586,90320,1112467339,262581.0,ZD8qrVR,1,5,0.200000
38587,90321,1112467373,31282.0,2zwKjD6,2,2,1.000000
38588,90322,1112467373,12244.0,1D3GPO,0,2,0.000000
38589,90325,1112467373,20490.0,1QrQjDN,1,2,0.500000
38590,90327,1112467373,115050.0,BmBZGAw,1,3,0.333333
38591,90328,1112467373,232789.0,W9P2AJR,1,2,0.500000
38592,90329,1112467373,112134.0,A3vo3Wm,1,2,0.500000
38593,90330,1112467373,133681.0,Erz3kJ,1,2,0.500000
38594,90331,1112467373,398115.0,xkP3Prx,1,2,0.500000
38595,90333,1112467373,23479.0,1k91zz,1,3,0.333333
38596,90338,1112467378,224190.0,RzroRA9,1,2,0.500000
38597,90339,1112467378,141669.0,EzlKjro,1,2,0.500000
38598,90341,1112467378,73673.0,6rPmwaR,1,5,0.200000
38599,90345,1112467378,299351.0,bOjX2A2,2,2,1.000000
38600,90348,1112467392,65418.0,6aWqlR,1,2,0.500000
38601,90350,1112467392,69909.0,6rBD1zv,1,4,0.250000
38602,90357,1112467442,247173.0,YBVDXP,2,2,1.000000
38603,90358,1112467442,8199.0,0zkk9oa,1,2,0.500000
38604,90359,1112467442,376603.0,rmd5zjQ,1,2,0.500000
38605,90360,1112467442,379097.0,rmej8Qz,1,4,0.250000
38606,90361,1112467442,176301.0,MVP8R53,1,2,0.500000
38607,90362,1112467442,139605.0,EzeRA10,1,2,0.500000
38608,90363,1112467442,33246.0,3NP4WMa,1,2,0.500000
38609,91805,1112473124,130952.0,EXbm92,0,2,0.000000
38610,92636,1112476411,189135.0,NZYNDz,0,2,0.000000
38611,92857,1112476987,77043.0,6vbPZr,0,1,0.000000
38612,93031,1112477683,313128.0,eRjeX8,0,1,0.000000
38613,94741,1112485441,313527.0,eXb4r8,0,1,0.000000
38614,97140,1112498129,24730.0,1vAZQj,0,1,0.000000

In [155]:
grouped[(grouped['prob']> 0)&(grouped['prob']< 1)]

,id,idaviso,idpostulante,idpostulante_old,sepostulo,contador,prob
7,702,1001135716,330476.0,kP0MvPQ,1,15,0.066667
8,704,1001135716,335727.0,kPjaNo0,1,4,0.250000
17,723,1001284385,84252.0,8MP5p9W,1,3,0.333333
32,854,1002471470,280634.0,aj1v0,1,3,0.333333
35,859,1002471470,220052.0,RzM9VOo,1,3,0.333333
42,872,1002471470,283048.0,ak5dAEE,1,2,0.500000
45,875,1002471470,104237.0,96z3WY8,1,3,0.333333
46,877,1002471470,216198.0,QNr8qG5,1,2,0.500000
54,895,1002490524,213775.0,QNP1kbN,1,2,0.500000
55,896,1002490524,289707.0,akjve0J,1,2,0.500000
58,899,1002490524,301877.0,bOzkWLV,1,2,0.500000
62,903,1002490524,220052.0,RzM9VOo,1,5,0.200000
68,914,1002490524,209558.0,PmVPGWJ,1,3,0.333333
69,915,1002490524,327140.0,jkdJ3AO,1,2,0.500000
72,956,1110007485,229790.0,VNro89E,1,2,0.500000
75,962,1110007485,231468.0,W9AMJk9,1,2,0.500000
99,1076,1110383223,112134.0,A3vo3Wm,1,2,0.500000
103,1090,1110391074,87082.0,8MPxk8L,1,4,0.250000
105,1092,1110391074,206166.0,PmGPwPv,1,3,0.333333
110,1097,1110391074,325023.0,jk6x050,1,2,0.500000
111,1098,1110391074,216874.0,QNrMWr5,1,2,0.500000
118,1106,1110391074,406690.0,zv4BY83,1,2,0.500000
121,1109,1110391074,296179.0,bOVmXlB,1,2,0.500000
123,1111,1110391074,374548.0,rm2AkmA,1,2,0.500000
124,1112,1110391074,23682.0,1lAVA3,1,2,0.500000
125,1113,1110391074,327744.0,jkj0wPO,1,2,0.500000
126,1114,1110391074,403693.0,xkdvZzP,1,3,0.333333
129,1117,1110391074,151426.0,JBXdkRb,1,2,0.500000
131,1119,1110391074,407196.0,zv65eMk,1,2,0.500000
132,1122,1110391074,402739.0,xkdXNRY,1,2,0.500000
...,...,...,...,...,...,...,...
38572,90302,1112467339,265011.0,ZDlMONY,1,2,0.500000
38573,90303,1112467339,116364.0,BmV62z2,1,3,0.333333
38574,90304,1112467339,87290.0,8MZ3KPM,1,2,0.500000
38575,90305,1112467339,131770.0,Ee4zmz,1,3,0.333333
38576,90306,1112467339,204912.0,PmB8DP0,1,3,0.333333
38577,90307,1112467339,214985.0,QNaQZw4,1,3,0.333333
38578,90308,1112467339,89103.0,8MaQjP3,1,3,0.333333
38579,90311,1112467339,289496.0,akjqQDZ,1,2,0.500000
38580,90312,1112467339,141669.0,EzlKjro,1,4,0.250000
38583,90317,1112467339,79478.0,8APRox,1,2,0.500000
38584,90318,1112467339,310245.0,e9d4oj,1,2,0.500000
38586,90320,1112467339,262581.0,ZD8qrVR,1,5,0.200000
38589,90325,1112467373,20490.0,1QrQjDN,1,2,0.500000
38590,90327,1112467373,115050.0,BmBZGAw,1,3,0.333333
38591,90328,1112467373,232789.0,W9P2AJR,1,2,0.500000
38592,90329,1112467373,112134.0,A3vo3Wm,1,2,0.500000
38593,90330,1112467373,133681.0,Erz3kJ,1,2,0.500000
38594,90331,1112467373,398115.0,xkP3Prx,1,2,0.500000
38595,90333,1112467373,23479.0,1k91zz,1,3,0.333333
38596,90338,1112467378,224190.0,RzroRA9,1,2,0.500000
38597,90339,1112467378,141669.0,EzlKjro,1,2,0.500000
38598,90341,1112467378,73673.0,6rPmwaR,1,5,0.200000
38600,90348,1112467392,65418.0,6aWqlR,1,2,0.500000
38601,90350,1112467392,69909.0,6rBD1zv,1,4,0.250000
38603,90358,1112467442,8199.0,0zkk9oa,1,2,0.500000
38604,90359,1112467442,376603.0,rmd5zjQ,1,2,0.500000
38605,90360,1112467442,379097.0,rmej8Qz,1,4,0.250000
38606,90361,1112467442,176301.0,MVP8R53,1,2,0.500000
38607,90362,1112467442,139605.0,EzeRA10,1,2,0.500000
38608,90363,1112467442,33246.0,3NP4WMa,1,2,0.500000

In [116]:
grouped['sepostulo2'] = grouped['prob'] >= 0.5

In [117]:
grouped['sepostulo'] = grouped['prob'].apply(lambda x: 1 if x else 0)
grouped['sepostulo']

0        0
1        0
2        0
3        1
4        0
5        0
6        0
7        1
8        1
9        0
10       0
11       0
12       1
13       0
14       1
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
38585    1
38586    1
38587    1
38588    0
38589    1
38590    1
38591    1
38592    1
38593    1
38594    1
38595    1
38596    1
38597    1
38598    1
38599    1
38600    1
38601    1
38602    1
38603    1
38604    1
38605    1
38606    1
38607    1
38608    1
38609    0
38610    0
38611    0
38612    0
38613    0
38614    0
Name: sepostulo, Length: 38615, dtype: int64

In [118]:
grouped.drop(['prob', 'sepostulo2', 'contador'], axis=1, inplace=True)
grouped

          id     idaviso  idpostulante idpostulante_old  sepostulo
0        594    17903700      252853.0          Yj5q3xX          0
1        595    17903700      222828.0          RzrDJlZ          0
2        609  1000139175      170021.0          LNKrDLr          0
3        610  1000139175      323242.0           exv4B8          1
4        637  1000468151      325851.0          jkMko3r          0
5        640  1000502125      149673.0          GNoLbRN          0
6        655  1000686071      136761.0          EzZ9pl6          0
7        702  1001135716      330476.0          kP0MvPQ          1
8        704  1001135716      335727.0          kPjaNo0          1
9        705  1001135716      125409.0          DrzxMGX          0
10       708  1001135716      214353.0          QNPjZNN          0
11       713  1001241610        8782.0          0zr1oV1          0
12       715  1001241610      228870.0          VNrLOKE          1
13       717  1001241610       30227.0          2zmmLVQ          0
14       719  1001241610      152128.0          JBdDpl5          1
15       720  1001284385       28086.0          2zQK15w          0
16       722  1001284385      100822.0          96XRBGZ          0
17       723  1001284385       84252.0          8MP5p9W          1
18       724  1001284385      178961.0          MVeGMdp          0
19       725  1001284385      317608.0          ekOBYM4          0
20       728  1001284385       89240.0          8MaYkoD          0
21       751  1001457766        4154.0          0zPX9GM          0
22       801  1002206338      360546.0          pz9mQpm          0
23       805  1002206338      269253.0           ZNWqqZ          0
24       806  1002206338      106268.0          A36eYP5          0
25       844  1002471470      118331.0          BmajddZ          0
26       846  1002471470      295856.0          bOVXDjY          0
27       847  1002471470      342902.0          lDwR81M          1
28       848  1002471470      404414.0          xkpBZJ0          0
29       850  1002471470       38206.0          3NzeJ5x          0
...      ...         ...           ...              ...        ...
38585  90319  1112467339      346323.0          mzbQAo6          1
38586  90320  1112467339      262581.0          ZD8qrVR          1
38587  90321  1112467373       31282.0          2zwKjD6          1
38588  90322  1112467373       12244.0           1D3GPO          0
38589  90325  1112467373       20490.0          1QrQjDN          1
38590  90327  1112467373      115050.0          BmBZGAw          1
38591  90328  1112467373      232789.0          W9P2AJR          1
38592  90329  1112467373      112134.0          A3vo3Wm          1
38593  90330  1112467373      133681.0           Erz3kJ          1
38594  90331  1112467373      398115.0          xkP3Prx          1
38595  90333  1112467373       23479.0           1k91zz          1
38596  90338  1112467378      224190.0          RzroRA9          1
38597  90339  1112467378      141669.0          EzlKjro          1
38598  90341  1112467378       73673.0          6rPmwaR          1
38599  90345  1112467378      299351.0          bOjX2A2          1
38600  90348  1112467392       65418.0           6aWqlR          1
38601  90350  1112467392       69909.0          6rBD1zv          1
38602  90357  1112467442      247173.0           YBVDXP          1
38603  90358  1112467442        8199.0          0zkk9oa          1
38604  90359  1112467442      376603.0          rmd5zjQ          1
38605  90360  1112467442      379097.0          rmej8Qz          1
38606  90361  1112467442      176301.0          MVP8R53          1
38607  90362  1112467442      139605.0          EzeRA10          1
38608  90363  1112467442       33246.0          3NP4WMa          1
38609  91805  1112473124      130952.0           EXbm92          0
38610  92636  1112476411      189135.0           NZYNDz          0
38611  92857  1112476987       77043.0           6vbPZr          0
38612  93031  1112477683      313128.0           eRjeX8          0
38613  94741  1112485441      313527.0           eXb4r8          0
38614  97140  1112498129       24730.0           1vAZQj          0

[38615 rows x 5 columns]

In [119]:
grouped = dfix2.groupby(['id', 'idaviso', 'idpostulante', 'idpostulante_old'])['sepostulo'].max().reset_index()
grouped.head()

    id     idaviso  idpostulante idpostulante_old  sepostulo
0  594    17903700      252853.0          Yj5q3xX          0
1  595    17903700      222828.0          RzrDJlZ          0
2  609  1000139175      170021.0          LNKrDLr          0
3  610  1000139175      323242.0           exv4B8          1
4  637  1000468151      325851.0          jkMko3r          0

In [120]:
grouped.shape

(38615, 5)

In [121]:
merged = pd.merge(grouped, df, how='inner', on=['idaviso', 'idpostulante'])
merged.head()

,id,idaviso,idpostulante,idpostulante_old,sepostulo,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,594,17903700,252853,Yj5q3xX,0,4.600113e+06,12,1,37,9407,0,0,0,0,0,122,1130,0
1,594,17903700,252853,Yj5q3xX,0,4.580593e+06,12,1,37,9407,0,0,0,0,0,122,1130,0
2,594,17903700,252853,Yj5q3xX,0,4.600116e+06,12,1,37,9407,0,0,0,0,0,122,1130,0
3,594,17903700,252853,Yj5q3xX,0,4.189065e+06,12,1,37,9407,0,0,0,0,0,122,1130,1
4,594,17903700,252853,Yj5q3xX,0,4.600057e+06,12,1,37,9407,0,0,0,0,0,122,1130,0

In [122]:
# Nuevos predichos
merged[(merged['sepostulo'] == 1) & (merged['se_postulo'] == 0)].shape

(42267, 18)

In [123]:
# Viejos que hay que volver a acomodar
merged[(merged['sepostulo'] == 0) & (merged['se_postulo'] == 1)].shape

(6904, 18)

In [124]:
# Acomodo los viejos como deben estar
merged.loc[(merged['sepostulo'] == 0) & (merged['se_postulo'] == 1), 'sepostulo'] = 1
merged[(merged['sepostulo'] == 0) & (merged['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int64)

In [125]:
merged = merged.groupby(['id', 'idaviso', 'idpostulante'])['sepostulo'].max().reset_index()
merged.head()

    id     idaviso  idpostulante  sepostulo
0  594    17903700      252853.0          1
1  595    17903700      222828.0          0
2  609  1000139175      170021.0          1
3  610  1000139175      323242.0          1
4  637  1000468151      325851.0          1

In [126]:
merged.shape

(38615, 4)

In [127]:
merged2 = pd.merge(top100_full, merged, on=['id', 'idpostulante', 'idaviso'], how='left')
merged2.head()

   id  idaviso idpostulante_old  idpostulante  sepostulo
0   0   739260           6M9ZQR       63651.0        NaN
1   1   739260           6v1xdL       76877.0        NaN
2   2   739260           ezRKm9      323397.0        NaN
3   3   758580           1Q35ej           NaN        NaN
4   4   758580           EAN4J6      127342.0        NaN

In [128]:
merged2.shape

(100000, 5)

In [129]:
merged2.fillna(0, inplace=True)

In [130]:
merged2[merged2.duplicated('id')].shape

(0, 5)

In [131]:
merged2[merged2['sepostulo'] == 1].shape

(33822, 5)

In [132]:
merged2[merged2['sepostulo'] == 0].shape

(66178, 5)

In [133]:
merged2.drop(['idaviso', 'idpostulante', 'idpostulante_old'], axis=1, inplace=True)

In [134]:
merged2['sepostulo'] = merged2['sepostulo'].astype(int)

In [135]:
merged2.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [136]:
merged2.to_csv('../data/adri_data/top100k.csv', encoding='utf-8', index=False)