# Realizo la clasificacion usando Neural Network: Multi-layer Perceptron

## Tabla de resultados

In [1]:
# Aplicando Scaler:                           en Jupyter 0.8105548320964798, en Kaggle 0.83976

# Aplicando Scaler y luego PCA(1 Componente): en Jupyter 0.6473592000460224, en Kaggle 0.86418
# Aplicando Scaler y luego PCA(2 Componente): en Jupyter 0.6878966168264378, en Kaggle 0.86645
# Aplicando Scaler y luego PCA(3 Componente): en Jupyter 0.7500436690357772, en Kaggle 0.84915

# Aplicando PCA(1 Componente) y luego Scaler: en Jupyter 0.7652969755924084, en Kaggle 0.84879
# Aplicando PCA(2 Componente) y luego Scaler: en Jupyter [Probar]          , en Kaggle [Probar]
# Aplicando PCA(3 Componente) y luego Scaler: en Jupyter [Probar]          , en Kaggle [Probar]

## Importo librerias necesarias

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
#Standard Scaler
from  sklearn.preprocessing  import StandardScaler
#Multi-layer Perceptron
from sklearn.neural_network import MLPClassifier
#PCA
from sklearn.decomposition import PCA

## Leo todos los datos

In [12]:
df = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8')
df.head()

,idaviso,esta_online,titulo_analista,titulo_tecnico,titulo_administrativo,titulo_vendedor,titulo_comercial,titulo_ventas,titulo_sr,titulo_importante,...,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,se_postulo,idpostulante_int
0,1112378604,1,0,0,0,0,0,0,0,0,...,0,142,23,owaL4oe,8.258221e+06,10.0,1,26,1,407299
1,1112403640,0,0,0,0,0,1,0,0,0,...,0,172,4119,QNr8KP4,7.558382e+06,10.0,-1,-1,1,246518
2,1111714909,0,0,0,0,0,0,0,0,0,...,0,142,439,4re9XKe,9.424259e+06,6.0,1,33,0,49684
3,1112364754,1,0,0,1,0,0,0,0,0,...,0,2,334,3NPL0ar,9.038178e+06,6.0,1,31,0,38778
4,1112432367,1,0,0,0,1,0,0,0,0,...,0,182,5,kPj23x0,6.087481e+06,10.0,1,21,1,381659

In [16]:
cols = df.head(0)
cols.drop(['se_postulo', 'idaviso', 'idpostulante'],inplace=True, axis=1)
cols = cols.columns
cols

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Index(['esta_online', 'titulo_analista', 'titulo_tecnico',
       'titulo_administrativo', 'titulo_vendedor', 'titulo_comercial',
       'titulo_ventas', 'titulo_sr', 'titulo_importante', 'titulo_jefe',
       'titulo_empresa', 'titulo_asistente', 'titulo_supervisor', 'titulo_jr',
       'titulo_contable', 'desc_experiencia', 'desc_empresa', 'desc_trabajo',
       'desc_excluyente', 'desc_manejo', 'desc_importante', 'desc_equipo',
       'desc_tareas', 'desc_cliente', 'desc_clientes', 'desc_conocimientos',
       'idzona', 'idciudad', 'idmapacalle', 'idtipo_de_trabajo',
       'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa',
       'timestamp', 'valor_educacion', 'sexo', 'edad', 'idpostulante_int'],
      dtype='object')

In [17]:
mintimestamp = df['timestamp'].min()
df['timestamp'] = df['timestamp']-mintimestamp
mintimestamp = df['idpostulante_int'].min()
df['idpostulante_int'] = df['idpostulante_int']-mintimestamp

In [18]:
X = np.array(df.iloc[:,cols])
y = np.array(df['se_postulo'])

TypeError: '>=' not supported between instances of 'str' and 'int'

## Aplico PCA

In [ ]:
pca = PCA(n_components=1)
pca.fit(X)
X = pca.transform(X)

## Aplico el Scaler

In [9]:
scaler = StandardScaler() 
scaler.fit(X)
X = scaler.transform(X)

## Realizo el Train Test Split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)

## Defino el clasificador

In [11]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)

## Entreno el clasificador

In [12]:
clf.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

## Reviso el score

In [13]:
clf.score(X_test, y_test)

0.6230001478856874

## Predigo con todos los datos

In [14]:
X_full_data = X
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data

## Armo .csv para subir a Kaggle

In [18]:
top100_full = pd.read_csv("../../test_final_100k.csv", encoding='utf-8')
top100_full.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [19]:
# id_postulantes = pd.read_csv('../../data/final_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
# top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
# top100_full.drop('idpostulante', inplace=True, axis=1)
# top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.fillna(0, inplace=True)
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']
top100_full.drop('se_postulo', axis=1, inplace=True)
top100_full.to_csv('../../data/adri_data/top100k_perc.csv', encoding='utf-8', index=False)