In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
%matplotlib inline

In [32]:
train_data = pd.read_csv('../data/final_data/full_datos_entrenamiento.csv')
train_data.head()

,Unnamed: 0,idaviso,idpostulante,valor_educacion,sexo,edad,idtitulo,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,0,1112370939,jkjq6rG,6,2,19.0,7032,0,0,37,1548,1
1,1,1112466925,ak5VPWW,6,2,21.0,13711,0,0,16,521,1
2,2,1112279371,akRYKWE,6,2,28.0,736,0,0,4,71,1
3,3,1112450576,MVr5b0o,6,2,19.0,7125,1,2,9,38,1
4,4,1112424076,dYjMxAD,10,1,35.0,4274,1,0,21,460,1

In [33]:
lb_make = LabelEncoder()
train_data["idpostulante2"] = lb_make.fit_transform(train_data["idpostulante"])
train_data[["idpostulante", "idpostulante2"]].head()

  idpostulante  idpostulante2
0      jkjq6rG         289411
1      ak5VPWW         248024
2      akRYKWE         249919
3      MVr5b0o         158130
4      dYjMxAD         268276

In [34]:
train_data.drop(['idpostulante','Unnamed: 0'], axis=1, inplace=True)

In [37]:
train_data = train_data[['idaviso', 'idpostulante2', 'valor_educacion', 'sexo', 'edad', 'idtitulo', 'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa', 'se_postulo']]
train_data.head()

,idaviso,idpostulante2,valor_educacion,sexo,edad,idtitulo,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,1112370939,289411,6,2,19.0,7032,0,0,37,1548,1
1,1112466925,248024,6,2,21.0,13711,0,0,16,521,1
2,1112279371,249919,6,2,28.0,736,0,0,4,71,1
3,1112450576,158130,6,2,19.0,7125,1,2,9,38,1
4,1112424076,268276,10,1,35.0,4274,1,0,21,460,1

In [41]:
train_data.rename( {'idpostulante2':'idpostulante'}, axis=1, inplace=True)
train_data.head()

,idaviso,idpostulante,valor_educacion,sexo,edad,idtitulo,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,1112370939,289411,6,2,19.0,7032,0,0,37,1548,1
1,1112466925,248024,6,2,21.0,13711,0,0,16,521,1
2,1112279371,249919,6,2,28.0,736,0,0,4,71,1
3,1112450576,158130,6,2,19.0,7125,1,2,9,38,1
4,1112424076,268276,10,1,35.0,4274,1,0,21,460,1

In [5]:
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('../data/final_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8')
df.head()

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1

In [9]:
# X will have the numeric data, Y will have the target class
dfix = df.ix[:, 0:13];
X = np.array(dfix)
y = np.array(df['se_postulo'])

In [10]:
# Split into train and test, use only 10% as test (15 flowers)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)
X_test

array([[  1.11241876e+09,   2.56340000e+04,   4.17343225e+06, ...,
          0.00000000e+00,   7.60000000e+01,   1.00000000e+01],
       [  1.11234254e+09,   1.24354000e+05,   8.95024431e+06, ...,
          0.00000000e+00,   1.30000000e+01,   1.79200000e+03],
       [  1.11227764e+09,   2.26590000e+05,   1.04896253e+07, ...,
          2.00000000e+00,   4.70000000e+01,   4.38000000e+02],
       ...,
       [  1.11237865e+09,   1.52443000e+05,   7.56528031e+06, ...,
          0.00000000e+00,   4.00000000e+00,   6.14000000e+02],
       [  1.11219014e+09,   1.04065000e+05,   1.13564083e+07, ...,
          0.00000000e+00,   6.00000000e+00,   2.10000000e+01],
       [  1.11231222e+09,   2.06854000e+05,   1.00026573e+07, ...,
          0.00000000e+00,   0.00000000e+00,   4.60000000e+01]])

In [81]:
clf = DecisionTreeClassifier(max_depth=45)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=44,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [82]:
# predict the response
pred = clf.predict(X_test)
pred.shape

(956055,)

In [83]:
print (accuracy_score(y_test, pred))
#max_depth 5 = 0.814749151461
#max_depth 7 = 0.817316995361
#max_depth 9 = 0.830302649952
#max_depth 11 = 0.836146456009
#max_depth 13 = 0.83922786869
#max_depth 15 = 0.842802976816
#max_depth 17 = 0.846111363886
#max_depth 19 = 0.848940699018
#max_depth 21 = 0.852105788893
#max_depth 23 = 0.85494662964
#max_depth 25 = 0.857750861614
#max_depth 27 = 0.860772654293
#max_depth 29 = 0.86390636522
#max_depth 31 = 0.8661049835
#max_depth 35 = 0.869442657588
#max_depth 41 = 0.871770975519
#max_depth 43 = 0.872110914121
#max_depth 44 = 0.872015731313
#max_depth 45 = 0.872120327805
#max_depth 46 = 0.871702987799
#max_depth 47 = 0.872014685348
#max_depth 49 = 0.871613034815
#max_depth 51 = 0.8717626078
#max_depth 61 = 0.8717626078

0.872015731313

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7506)

In [85]:
clf = DecisionTreeClassifier(max_depth=45)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=45,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [86]:
# predict the response
pred = clf.predict(X_test)
pred.shape

(2390136,)

In [87]:
print (accuracy_score(y_test, pred))

0.868695756225

In [93]:
pred.size

2390136

In [94]:
df.size

133847602

In [95]:
X_full_data = np.array(dfix)
X_full_data

array([[  1.11155610e+09,   3.65446000e+05,   7.03800731e+06, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.11237071e+09,   3.65446000e+05,   7.47688531e+06, ...,
          0.00000000e+00,   4.50000000e+01,   1.40000000e+01],
       [  1.11232666e+09,   3.65446000e+05,   9.80927731e+06, ...,
          0.00000000e+00,   4.00000000e+00,   3.30000000e+01],
       ...,
       [  1.11160188e+09,   3.23892000e+05,   8.13147410e+06, ...,
          0.00000000e+00,   6.00000000e+00,   7.10000000e+01],
       [  1.11131998e+09,   3.99727000e+05,   8.12986248e+06, ...,
          0.00000000e+00,   3.00000000e+00,   3.29000000e+02],
       [  1.11208492e+09,   1.20330000e+05,   8.12629305e+06, ...,
          0.00000000e+00,   1.40000000e+01,   1.85000000e+03]])

In [96]:
pred_full_data = clf.predict(X_full_data)

In [97]:
pred_full_data

array([1, 1, 1, ..., 0, 1, 0])

In [98]:
df['sepostulo'] = pred_full_data

In [99]:
df

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,sepostulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1,1
5,1112394991,365446,6.880681e+06,17,1,12402,0,0,0,0,0,31,71,1,1
6,1112387712,365446,7.477011e+06,17,1,10734,0,0,0,0,3,45,129,1,1
7,1112286220,365446,7.477295e+06,17,1,2521,0,0,0,0,2,31,155,1,1
8,1112399795,365446,6.880694e+06,17,1,13335,0,0,0,0,2,14,184,1,1
9,1112296014,365446,1.041792e+07,17,1,4946,1,0,272,0,3,31,258,1,1
10,1112289548,365446,1.110333e+07,17,1,3373,0,0,0,0,0,31,264,1,1
11,1112296354,365446,1.058453e+07,17,1,5057,0,0,0,0,0,31,264,1,1
12,1111967504,365446,1.058455e+07,17,1,4746,0,0,0,0,3,31,264,1,1
13,1112407372,365446,5.833123e+06,17,1,15244,0,0,0,0,0,4,371,1,1
14,1111984070,365446,1.058469e+07,17,1,2253,0,0,0,0,0,45,516,1,1
15,1112365178,365446,8.166029e+06,17,1,5841,0,0,0,0,0,31,831,1,1
16,1112252821,365446,1.196625e+07,17,1,9934,0,0,0,0,2,31,831,1,1
17,1112424614,365446,5.833008e+06,17,1,4421,0,0,0,0,3,4,897,1,1
18,1112336070,365446,6.347383e+06,17,1,6277,0,0,0,0,0,31,910,1,1
19,1112432317,365446,5.238732e+06,17,1,171,1,0,19,0,5,31,935,1,1
20,1112458730,365446,4.534623e+06,17,1,12040,0,0,0,0,2,66,1544,1,1
21,1112349399,365446,8.856358e+06,17,1,1948,0,0,0,0,3,31,1926,1,1
22,1112463121,365446,4.358479e+06,17,1,12869,0,0,0,1,1,31,3139,1,0
23,1112382267,365446,7.563827e+06,17,1,9238,0,0,0,0,3,45,3509,1,1
24,1111556097,209736,7.114418e+06,6,2,0,0,0,0,0,0,0,0,1,1
25,1112191071,209736,7.113933e+06,6,2,10713,0,0,0,0,0,24,8,1,1
26,1111891857,209736,7.114277e+06,6,2,2264,0,0,0,0,0,24,14,1,1
27,1112422110,209736,6.165200e+06,6,2,3784,0,0,0,0,0,24,14,1,1
28,1112396891,209736,7.022333e+06,6,2,12706,1,0,240,0,0,35,14,1,1
29,1112353872,209736,8.757222e+06,6,2,3084,0,0,0,0,0,18,22,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9560513,1112054114,157394,8.117187e+06,10,-1,9459,0,0,0,0,2,16,127,0,0
9560514,1112194374,385974,8.205502e+06,4,1,20678,0,0,0,0,2,33,27,0,0
9560515,1112296586,118649,8.182859e+06,10,1,1784,0,0,0,0,0,26,282,0,0
9560516,1111947938,348860,8.177229e+06,6,2,20739,0,0,0,0,0,24,2782,0,0
9560517,1111682210,256357,8.178258e+06,12,1,10638,0,0,0,0,0,44,188,0,0
9560518,1111682210,69137,8.132904e+06,10,1,10638,0,0,0,0,0,44,188,0,0
9560519,1111923911,153813,8.161264e+06,12,1,20630,0,0,0,0,0,6,8,0,0
9560520,1111549543,379758,8.152359e+06,11,1,4280,0,0,0,0,0,6,3,0,0
9560521,1111840748,342668,8.176790e+06,10,2,20392,0,0,0,0,0,6,22,0,1
9560522,1111177561,31690,8.170182e+06,10,1,1742,1,0,135,1,2,6,1473,0,0
9560523,1111858589,23662,8.164315e+06,12,2,20622,0,0,0,0,0,20,333,0,0
9560524,1111322472,104312,8.161582e+06,6,2,20464,0,0,0,0,0,24,22,0,0
9560525,1111469472,390629,8.157012e+06,5,1,20586,0,0,0,0,0,14,26,0,0
9560526,1111471769,374031,8.154819e+06,10,2,20601,0,0,0,0,1,14,469,0,0
9560527,1111460314,22534,8.155403e+06,12,2,20473,0,0,0,0,0,98,65,0,0
9560528,1112087976,51478,8.151352e+06,8,2,5342,0,0,0,0,0,21,391,0,0
9560529,1112097280,113023,8.148473e+06,10,1,20431,0,0,0,1,2,182,143,0,0
9560530,1000872556,325512,8.123154e+06,6,2,20230,0,0,0,0,0,24,1210,0,0
9560531,1112055574,169268,8.144875e+06,6,1,20651,0,0,0,1,0,102,1707,0,0
9560532,1112100433,132814,8.144750e+06,11,1,1334,0,0,0,0,2,17,127,0,0
9560533,1112049386,352522,8.135747e+06,6,2,20540,0,0,0,0,0,24,2,0,0
9560534,1112226525,52119,8.141612e+06,8,1,3980,1,0,234,1,2,102,1581,0,0
9560535,1111872834,103879,8.137687e+06,6,2,20727,0,0,0,0,0,14,1851,0,0
9560536,1111943777,359331,8.139875e+06,6,1,3162,0,0,0,0,0,9,8,0,1
9560537,1111998205,59278,8.135553e+06,12,1,20643,0,0,0,0,0,14,904,0,0
9560538,1112254462,377394,8.135755e+06,17,2,9092,0,0,0,0,1,62,539,0,0
9560539,1112237143,377394,8.135705e+06,17,2,1401,0,0,0,0,0,62,539,0,0
9560540,1111601884,323892,8.131474e+06,12,1,20596,0,0,0,0,0,6,71,0,0
9560541,1111319984,399727,8.129862e+06,10,1,20463,0,0,0,0,0,3,329,0,1
9560542,1112084920,120330,8.126293e+06,6,-1,1344,0,0,0,0,0,14,1850,0,0

## File a subir

In [100]:
top100 = pd.read_csv("../test_final_100k.csv", encoding='utf-8')

In [101]:
id_postulantes = pd.read_csv('../data/final_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
id_postulantes.drop('Unnamed: 0', axis=1, inplace=True)
id_postulantes.shape
id_postulantes.head()

  idpostulante  idpostulante2
0      pzeVW63         365446
1      PmVbBWY         209736
2      zvPMxvJ         409297
3       YYwJKq         250105
4      3NkMAVq          37024

In [102]:
top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
top100_full.shape

(100000, 4)

In [103]:
top100_full.drop('idpostulante', inplace=True, axis=1)
top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
top100_full.head()

   id  idaviso  idpostulante
0   0   739260       63651.0
1   1   739260       76877.0
2   2   739260      323397.0
3   3   758580           NaN
4   4   758580      127342.0

In [104]:
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full.shape

(100000, 16)

In [105]:
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.head()

   id  se_postulo  sepostulo
0   0         NaN        NaN
1   1         NaN        NaN
2   2         NaN        NaN
3   3         NaN        NaN
4   4         NaN        NaN

In [106]:
top100_full.fillna(0, inplace=True)

In [107]:
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.head()

   id  se_postulo  sepostulo
0   0           0          0
1   1           0          0
2   2           0          0
3   3           0          0
4   4           0          0

In [108]:
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int64)

In [109]:
top100_full.drop('se_postulo', axis=1, inplace=True)

In [110]:
top100_full[top100_full['sepostulo'] == 1].shape

(33892, 2)

In [111]:
# top100_full.rename({'se_postulo' : 'sepostulo'}, inplace=True, axis=1)
top100_full.to_csv('../data/entrega/top100k_clf44.csv', encoding='utf-8', index=False)

In [42]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt

In [43]:
from sklearn.ensemble import RandomForestClassifier

In [44]:
from sklearn.datasets import load_digits
from sklearn.ensemble import GradientBoostingClassifier

digits = load_digits()
X_digits, y_digits = digits.data, digits.target

# divide el dataset y aplica bsqueda grid

In [9]:
X, y = X_digits[y_digits < 2], y_digits[y_digits < 2]

rf = RandomForestClassifier(n_estimators=300, n_jobs=1)
rf.fit(X, y)
print(rf.feature_importances_)  # un valor por caracterstica

[  0.00000000e+00   0.00000000e+00   5.81718181e-04   7.13264230e-03
   2.97260599e-04   3.15530272e-03   3.68508718e-03   0.00000000e+00
   0.00000000e+00   2.23993962e-04   1.58262940e-02   1.28247125e-03
   6.36487819e-04   5.14493236e-03   3.46076981e-04   0.00000000e+00
   1.80947916e-04   7.83958578e-03   9.16208015e-03   3.89173252e-02
   7.06862929e-02   2.84874738e-03   6.37622630e-03   0.00000000e+00
   1.58749718e-04   9.05356779e-03   3.13715978e-04   6.07056779e-02
   1.44744845e-01   3.55916252e-03   9.82889144e-02   0.00000000e+00
   0.00000000e+00   2.22067095e-02   6.18280531e-03   3.85758948e-02
   1.61565549e-01   4.89840433e-03   7.36949531e-02   0.00000000e+00
   0.00000000e+00   1.75193795e-02   1.85814854e-02   7.12423373e-03
   6.91643697e-02   4.01591187e-03   3.77947732e-02   0.00000000e+00
   0.00000000e+00   1.05251650e-03   2.59415626e-02   3.31264397e-03
   4.97826517e-04   2.88543969e-03   2.39239436e-04   8.62429108e-04
   0.00000000e+00   0.00000000e+00   1.24224260e-03   8.19296543e-03
   3.95624133e-04   1.99095527e-03   8.77105461e-04   3.68733829e-05]

In [59]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(n_estimators=100, max_depth=5, learning_rate=.2)
clf.fit(X_train, y_train)

print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

ValueError: bad input shape (65, 11)