In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
#Load all binary classifiers
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

seed = 123
models = []
logreg = LogisticRegression()
cart   = DecisionTreeClassifier()
rfc    = RandomForestClassifier()
gbc    = GradientBoostingClassifier()
knn    = KNeighborsClassifier()
lda    = LinearDiscriminantAnalysis()
nb     = GaussianNB()
svc    = SVC()

In [4]:
df = pd.read_csv('../data/final_data/entrenamiento_postulaciones_vistas5.csv', encoding='utf-8')
df.head()

,idaviso,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,idpostulante
0,1112363488,8.617918e+06,12,1,34,15677,0,0,0,0,1,151,34,1,356027
1,1112299213,1.101489e+07,9,2,24,9371,0,0,0,0,0,182,127,1,396236
2,1112425871,6.232296e+06,16,2,25,10775,0,0,0,0,1,94,838,1,125047
3,1112208765,1.005179e+07,11,2,32,15848,0,0,0,0,0,5,139,1,158791
4,1112377689,4.856018e+06,10,1,26,20003,0,0,0,0,0,182,391,1,29737

In [5]:
# X will have the numeric data, Y will have the target class
dfix = df.ix[:, 0:13];
X = np.array(dfix)
y = np.array(df['se_postulo'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [9]:
!pip install imblearn

Collecting imblearn
  Downloading https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn (from imblearn)
  Downloading https://files.pythonhosted.org/packages/80/a4/900463a3c0af082aed9c5a43f4ec317a9469710c5ef80496c9abc26ed0ca/imbalanced_learn-0.3.3-py3-none-any.whl (144kB)
    100% |████████████████████████████████| 153kB 4.3MB/s ta 0:00:01
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.5/dist-packages (from imbalanced-learn->imblearn) (0.19.1)
Requirement already satisfied: numpy in /usr/lib/python3/dist-packages (from imbalanced-learn->imblearn) (1.11.0)
Requirement already satisfied: scipy in /usr/lib/python3/dist-packages (from imbalanced-learn->imblearn) (0.17.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.3.3 imblearn-0.0
You are using pip version 10.0.0, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
#Correct the unbalanced dataset
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler()
data_x_balanced, data_y_balanced = rus.fit_sample(X, y)

In [7]:
from collections import Counter
Counter(data_y_balanced) #Counter({0: 3561762, 1: 3561762})

Counter({0: 5999441, 1: 5999441})

In [8]:
#Define training and test sets
from sklearn.cross_validation import train_test_split
train_x, test_x, train_y, test_y = train_test_split(data_x_balanced, data_y_balanced, test_size = 0.25)
train_x.shape #354 cells and 9 features
test_x.shape #118 cells and 9 features

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

(2999721, 13)

In [11]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(logreg, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('logreg', cv_scores.mean(), cv_scores.std())
print(msg)
#logreg: 0.816 (+/- 0.001) con 4

10-fold CV Train Accuracy:
  logreg: 0.805 (+/- 0.000)

In [10]:
logreg.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
results = []
names = []
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(logreg, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('logreg', accuracy_score(test_y, cv_preds)))
#con 4 logreg: 0.816

10-fold CV Test Accuracy:
  logreg: 0.805

In [ ]:
cart.fit(train_x, train_y)

In [ ]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(cart, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('cart', cv_scores.mean(), cv_scores.std())
print(msg)

In [ ]:
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(cart, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('cart', accuracy_score(test_y, cv_preds)))

In [76]:
rfc.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [77]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(rfc, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('rfc', cv_scores.mean(), cv_scores.std())
print(msg)

10-fold CV Train Accuracy:
  rfc: 0.862 (+/- 0.001)

In [78]:
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(rfc, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('rfc', accuracy_score(test_y, cv_preds)))

10-fold CV Test Accuracy:
  rfc: 0.855

## Uso gaussiano

## Total datos

In [13]:
X_full_data = np.array(dfix)
X_full_data

array([[  1.11236349e+09,   8.61791765e+06,   1.20000000e+01, ...,
          1.00000000e+00,   1.51000000e+02,   3.40000000e+01],
       [  1.11229921e+09,   1.10148866e+07,   9.00000000e+00, ...,
          0.00000000e+00,   1.82000000e+02,   1.27000000e+02],
       [  1.11242587e+09,   6.23229565e+06,   1.60000000e+01, ...,
          1.00000000e+00,   9.40000000e+01,   8.38000000e+02],
       ...,
       [  1.11179045e+09,   1.18167936e+07,   9.00000000e+00, ...,
          0.00000000e+00,   1.40000000e+01,   6.71000000e+02],
       [  1.11239340e+09,   6.17162409e+06,   1.00000000e+01, ...,
          0.00000000e+00,   3.60000000e+01,   7.14000000e+02],
       [  1.11247282e+09,   3.90022585e+06,   1.10000000e+01, ...,
          1.00000000e+00,   2.50000000e+01,   1.63600000e+03]])

In [14]:
pred_full_data = logreg.predict(X_full_data)

In [15]:
df['sepostulo'] = pred_full_data

In [16]:
df.head()

,idaviso,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,idpostulante,sepostulo
0,1112363488,8.617918e+06,12,1,34,15677,0,0,0,0,1,151,34,1,356027,1
1,1112299213,1.101489e+07,9,2,24,9371,0,0,0,0,0,182,127,1,396236,1
2,1112425871,6.232296e+06,16,2,25,10775,0,0,0,0,1,94,838,1,125047,0
3,1112208765,1.005179e+07,11,2,32,15848,0,0,0,0,0,5,139,1,158791,1
4,1112377689,4.856018e+06,10,1,26,20003,0,0,0,0,0,182,391,1,29737,0

## Subida

In [17]:
top100 = pd.read_csv("../test_final_100k.csv", encoding='utf-8')

In [18]:
id_postulantes = pd.read_csv('../data/final_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
id_postulantes.drop('Unnamed: 0', axis=1, inplace=True)
id_postulantes.shape
id_postulantes.head()

  idpostulante  idpostulante2
0      pzeVW63         365446
1      PmVbBWY         209736
2      zvPMxvJ         409297
3       YYwJKq         250105
4      3NkMAVq          37024

In [19]:
top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
top100_full.shape

(100000, 4)

In [20]:
top100_full.drop('idpostulante', inplace=True, axis=1)
top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
top100_full.head()

   id  idaviso  idpostulante
0   0   739260       63651.0
1   1   739260       76877.0
2   2   739260      323397.0
3   3   758580           NaN
4   4   758580      127342.0

In [21]:
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full.shape

(159370, 17)

In [22]:
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.head()

   id  se_postulo  sepostulo
0   0         NaN        NaN
1   1         NaN        NaN
2   2         NaN        NaN
3   3         NaN        NaN
4   4         NaN        NaN

In [23]:
top100_full.fillna(0, inplace=True)

In [24]:
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.head()

   id  se_postulo  sepostulo
0   0           0          0
1   1           0          0
2   2           0          0
3   3           0          0
4   4           0          0

In [25]:
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int64)

In [26]:
top100_full.drop('se_postulo', axis=1, inplace=True)

In [27]:
top100_full[top100_full['sepostulo'] == 1].shape

(33608, 2)

In [28]:
top100_2 = top100_full.sort_values('sepostulo', ascending=False)

In [29]:
top100_2.drop_duplicates('id', inplace=True)

In [ ]:
top100_2.shape

In [32]:
# top100_full.rename({'se_postulo' : 'sepostulo'}, inplace=True, axis=1)
top100_full.to_csv('../data/entrega/top100k_logregcv2v.csv', encoding='utf-8', index=False)

# Con otros files