In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
#Load all binary classifiers
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

seed = 123
models = []
logreg = LogisticRegression()
cart   = DecisionTreeClassifier()
rfc    = RandomForestClassifier()
gbc    = GradientBoostingClassifier()
knn    = KNeighborsClassifier()
lda    = LinearDiscriminantAnalysis()
nb     = GaussianNB()
svc    = SVC()

In [4]:
df = pd.read_csv('../data/final_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8')
df.head()

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1

In [5]:
# X will have the numeric data, Y will have the target class
dfix = df.ix[:, 0:13];
X = np.array(dfix)
y = np.array(df['se_postulo'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [6]:
#Correct the unbalanced dataset
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler()
data_x_balanced, data_y_balanced = rus.fit_sample(X, y)

In [7]:
from collections import Counter
Counter(data_y_balanced) #Counter({0: 3561762, 1: 3561762})

Counter({0: 3561762, 1: 3561762})

In [8]:
#Define training and test sets
from sklearn.cross_validation import train_test_split
train_x, test_x, train_y, test_y = train_test_split(data_x_balanced, data_y_balanced, test_size = 0.25)
train_x.shape #354 cells and 9 features
test_x.shape #118 cells and 9 features

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

(1780881, 13)

In [ ]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(logreg, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('logreg', cv_scores.mean(), cv_scores.std())
print(msg)

In [ ]:
logreg.fit(train_x, train_y)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
results = []
names = []
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(logreg, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('logreg', accuracy_score(test_y, cv_preds)))

In [ ]:
cart.fit(train_x, train_y)

In [ ]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(cart, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('cart', cv_scores.mean(), cv_scores.std())
print(msg)

In [ ]:
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(cart, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('cart', accuracy_score(test_y, cv_preds)))

In [ ]:
rfc.fit(train_x, train_y)

In [ ]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(rfc, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('rfc', cv_scores.mean(), cv_scores.std())
print(msg)

In [ ]:
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(rfc, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('rfc', accuracy_score(test_y, cv_preds)))

In [9]:
gbc.fit(train_x, train_y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [10]:
#Cross validation training for a model
seed=123
results = []

scoring = 'accuracy'
print("10-fold CV Train Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_scores = model_selection.cross_val_score(gbc, train_x, train_y, cv=kfold, scoring=scoring)
results.append(cv_scores)
msg = "  %s: %0.3f (+/- %0.3f)" % ('gbc', cv_scores.mean(), cv_scores.std())
print(msg)

10-fold CV Train Accuracy:
  gbc: 0.848 (+/- 0.001)

In [11]:
scores = 'accuracy'
print("10-fold CV Test Accuracy:")
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_preds = model_selection.cross_val_predict(gbc, test_x, test_y, cv=kfold)
print ("  %s: %0.3f" % ('gbc', accuracy_score(test_y, cv_preds)))

10-fold CV Test Accuracy:
  gbc: 0.847

## Uso gaussiano

## Total datos

In [12]:
X_full_data = np.array(dfix)
X_full_data

array([[  1.11155610e+09,   3.65446000e+05,   7.03800731e+06, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.11237071e+09,   3.65446000e+05,   7.47688531e+06, ...,
          0.00000000e+00,   4.50000000e+01,   1.40000000e+01],
       [  1.11232666e+09,   3.65446000e+05,   9.80927731e+06, ...,
          0.00000000e+00,   4.00000000e+00,   3.30000000e+01],
       ...,
       [  1.11160188e+09,   3.23892000e+05,   8.13147410e+06, ...,
          0.00000000e+00,   6.00000000e+00,   7.10000000e+01],
       [  1.11131998e+09,   3.99727000e+05,   8.12986248e+06, ...,
          0.00000000e+00,   3.00000000e+00,   3.29000000e+02],
       [  1.11208492e+09,   1.20330000e+05,   8.12629305e+06, ...,
          0.00000000e+00,   1.40000000e+01,   1.85000000e+03]])

In [13]:
pred_full_data = gbc.predict(X_full_data)

In [14]:
df['sepostulo'] = pred_full_data

In [15]:
df.head()

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,sepostulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1,1

## Subida

In [16]:
top100 = pd.read_csv("../test_final_100k.csv", encoding='utf-8')

In [17]:
id_postulantes = pd.read_csv('../data/final_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
id_postulantes.drop('Unnamed: 0', axis=1, inplace=True)
id_postulantes.shape
id_postulantes.head()

  idpostulante  idpostulante2
0      pzeVW63         365446
1      PmVbBWY         209736
2      zvPMxvJ         409297
3       YYwJKq         250105
4      3NkMAVq          37024

In [18]:
top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
top100_full.shape

(100000, 4)

In [19]:
top100_full.drop('idpostulante', inplace=True, axis=1)
top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
top100_full.head()

   id  idaviso  idpostulante
0   0   739260       63651.0
1   1   739260       76877.0
2   2   739260      323397.0
3   3   758580           NaN
4   4   758580      127342.0

In [20]:
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full.shape

(100000, 16)

In [21]:
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.head()

   id  se_postulo  sepostulo
0   0         NaN        NaN
1   1         NaN        NaN
2   2         NaN        NaN
3   3         NaN        NaN
4   4         NaN        NaN

In [22]:
top100_full.fillna(0, inplace=True)

In [23]:
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.head()

   id  se_postulo  sepostulo
0   0           0          0
1   1           0          0
2   2           0          0
3   3           0          0
4   4           0          0

In [24]:
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int64)

In [25]:
top100_full.drop('se_postulo', axis=1, inplace=True)

In [26]:
top100_full[top100_full['sepostulo'] == 1].shape

(34011, 2)

In [27]:
# top100_full.rename({'se_postulo' : 'sepostulo'}, inplace=True, axis=1)
top100_full.to_csv('../data/entrega/top100k_gbccv.csv', encoding='utf-8', index=False)

# Con otros files