In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
%matplotlib inline

In [2]:
df = pd.read_csv('../data/final_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8')
df.head()

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1

In [3]:
# X will have the numeric data, Y will have the target class
dfix = df.iloc[:, 0:13];
X = np.array(dfix)
y = np.array(df['se_postulo'])

In [4]:
# Split into train and test, use only 10% as test (15 flowers)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)
X_test

array([[1.11241876e+09, 2.56340000e+04, 4.17343225e+06, ...,
        0.00000000e+00, 7.60000000e+01, 1.00000000e+01],
       [1.11234254e+09, 1.24354000e+05, 8.95024431e+06, ...,
        0.00000000e+00, 1.30000000e+01, 1.79200000e+03],
       [1.11227764e+09, 2.26590000e+05, 1.04896253e+07, ...,
        2.00000000e+00, 4.70000000e+01, 4.38000000e+02],
       ...,
       [1.11237865e+09, 1.52443000e+05, 7.56528031e+06, ...,
        0.00000000e+00, 4.00000000e+00, 6.14000000e+02],
       [1.11219014e+09, 1.04065000e+05, 1.13564083e+07, ...,
        0.00000000e+00, 6.00000000e+00, 2.10000000e+01],
       [1.11231222e+09, 2.06854000e+05, 1.00026573e+07, ...,
        0.00000000e+00, 0.00000000e+00, 4.60000000e+01]])

In [5]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()
clf.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [20]:
pred = clf.predict(X_test)

In [21]:
print (accuracy_score(y_test, pred))

0.8405667037984217

In [22]:
pred.shape

(956055,)

In [23]:
X_full_data = np.array(dfix)
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data
df.head()

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,sepostulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1,1

## Subida

In [24]:
top100 = pd.read_csv("../test_final_100k.csv", encoding='utf-8')
id_postulantes = pd.read_csv('../data/final_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
id_postulantes.drop('Unnamed: 0', axis=1, inplace=True)
top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
top100_full.drop('idpostulante', inplace=True, axis=1)
top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.fillna(0, inplace=True)
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']
top100_full.drop('se_postulo', axis=1, inplace=True)
top100_full[top100_full['sepostulo'] == 1].shape

(34989, 2)

In [25]:
top100_full.to_csv('../data/entrega/top100k_gradboost.csv', encoding='utf-8', index=False)