In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('../data/final_data/entrenamiento_postulaciones_vistas9.csv', encoding='utf-8')
df.head()

,idaviso,esta_online,titulo,descripcion,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,...,idpostulante,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,se_postulo,idpostulante_int
0,1112243448,1,8589934592,4120231825783194672,0,0,0,1,1,182,...,VNk0vZl,5.568174e+06,6,2,37,5,0,0,0,253283
1,1112394752,0,1297036692686962688,4697431300652990536,0,0,0,0,0,2,...,4rdpPbz,6.248119e+06,10,2,27,2,0,0,1,48538
2,1112272845,0,8796160131072,8070459336931147904,0,0,0,0,0,142,...,3NPVp2X,1.180622e+07,9,1,25,142,0,0,1,38241
3,1112247744,0,9086368454017024,8576121502083057184,0,0,0,0,3,142,...,VNJr1DD,1.229320e+07,6,2,26,142,0,0,1,251692
4,1112335465,1,8388608,8322943493810029184,0,0,0,0,0,4,...,MVODZbr,1.023259e+07,6,2,26,2,0,0,1,195525

In [3]:
df.columns

Index(['idaviso', 'esta_online', 'titulo', 'descripcion', 'idzona', 'idciudad',
       'idmapacalle', 'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area',
       'iddenominacion_empresa', 'idpostulante', 'timestamp',
       'valor_educacion', 'sexo', 'edad', 'idnombre_area_pref',
       'idnivel_laboral_pref', 'idtipo_de_trabajo_pref', 'se_postulo',
       'idpostulante_int'],
      dtype='object')

In [4]:
cols = df.head(0)
cols.drop(['se_postulo', 'idaviso', 'idpostulante'],inplace=True, axis=1)
cols = cols.columns
cols

/home/prp-admin/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

Index(['esta_online', 'titulo', 'descripcion', 'idzona', 'idciudad',
       'idmapacalle', 'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area',
       'iddenominacion_empresa', 'timestamp', 'valor_educacion', 'sexo',
       'edad', 'idnombre_area_pref', 'idnivel_laboral_pref',
       'idtipo_de_trabajo_pref', 'idpostulante_int'],
      dtype='object')

In [5]:
mintimestamp = df['timestamp'].min()
df['timestamp'] = df['timestamp']-mintimestamp
mintimestamp = df['idpostulante_int'].min()
df['idpostulante_int'] = df['idpostulante_int']-mintimestamp

In [6]:
dfix = df.loc[:,cols];
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(dfix.values)
dfix = pd.DataFrame(x_scaled)
dfix.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.0,1.180279e-09,0.446726,0.0,0.0,0.0,0.111111,0.2,0.989130,0.191514,0.193818,0.318182,1.000000,0.152893,0.032432,0.166667,0.111111,0.548328
1,0.0,1.782161e-01,0.509307,0.0,0.0,0.0,0.000000,0.0,0.010870,0.257361,0.267944,0.500000,1.000000,0.111570,0.016216,0.166667,0.111111,0.105079
2,0.0,1.208614e-06,0.875020,0.0,0.0,0.0,0.000000,0.0,0.771739,0.072339,0.873877,0.454545,0.666667,0.103306,0.772973,0.166667,0.111111,0.082787
3,0.0,1.248490e-03,0.929845,0.0,0.0,0.0,0.000000,0.6,0.771739,0.002550,0.926967,0.318182,1.000000,0.107438,0.772973,0.166667,0.111111,0.544883
4,1.0,1.152616e-12,0.902395,0.0,0.0,0.0,0.000000,0.0,0.021739,0.004173,0.702324,0.318182,1.000000,0.107438,0.016216,0.166667,0.111111,0.423288

In [7]:
X = np.array(dfix)
y = np.array(df['se_postulo'])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)

In [23]:
clf1 = tree.DecisionTreeClassifier()
clf2 = RandomForestClassifier()
clf = VotingClassifier(estimators=[('tree', clf1), ('rf', clf2)])

In [24]:
clf.fit(X_train, y_train)

VotingClassifier(estimators=[('tree', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_le...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))],
         flatten_transform=None, n_jobs=1, voting='hard', weights=None)

In [25]:
pred = clf.predict(X_test)

/home/prp-admin/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [26]:
print (accuracy_score(y_test, pred))

0.8705487162616913

In [27]:
pred.shape

(994011,)

In [28]:
X_full_data = np.array(dfix)
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data
df.head()

/home/prp-admin/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,idaviso,esta_online,titulo,descripcion,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,...,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,se_postulo,idpostulante_int,sepostulo
0,1112243448,1,8589934592,4120231825783194672,0,0,0,1,1,182,...,1777853.520,6,2,37,5,0,0,0,253283,0
1,1112394752,0,1297036692686962688,4697431300652990536,0,0,0,0,0,2,...,2457798.612,10,2,27,2,0,0,1,48538,1
2,1112272845,0,8796160131072,8070459336931147904,0,0,0,0,0,142,...,8015897.612,9,1,25,142,0,0,1,38241,1
3,1112247744,0,9086368454017024,8576121502083057184,0,0,0,0,3,142,...,8502880.612,6,2,26,142,0,0,1,251692,1
4,1112335465,1,8388608,8322943493810029184,0,0,0,0,0,4,...,6442273.612,6,2,26,2,0,0,1,195525,1

## Subida

In [29]:
top100_full = pd.read_csv("../test_final_100k.csv", encoding='utf-8')
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.fillna(0, inplace=True)
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']
top100_full.drop('se_postulo', axis=1, inplace=True)
top100_full[top100_full['sepostulo'] == 1].shape

(34526, 2)

In [30]:
top100_full.to_csv('../data/entrega/top100k_ensemble_tree_rf_scaler.csv', encoding='utf-8', index=False)