In [8]:
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
%matplotlib inline

In [ ]:
X = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
y = X[:, 0] ^ X[:, 1]
y

X = PolynomialFeatures(interaction_only=True).fit_transform(X).astype(int)
X




clf = Perceptron(fit_intercept=False, max_iter=10, tol=None,
                 shuffle=False).fit(X, y)

In [4]:
df = pd.read_csv('../data/final_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8')
df.head()

,idaviso,idpostulante,timestamp,valor_educacion,sexo,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo
0,1111556097,365446,7.038007e+06,17,1,0,0,0,0,0,0,0,0,1
1,1112370711,365446,7.476885e+06,17,1,6996,0,0,0,0,0,45,14,1
2,1112326655,365446,9.809277e+06,17,1,11827,0,0,0,0,0,4,33,1
3,1112350182,365446,8.856385e+06,17,1,2141,0,0,0,0,0,31,38,1
4,1112383837,365446,7.563903e+06,17,1,6942,0,0,0,0,0,75,46,1

In [6]:
# X will have the numeric data, Y will have the target class
dfix = df.iloc[:, 0:13];
X = np.array(dfix)
y = np.array(df['se_postulo'])

In [9]:
# Split into train and test, use only 10% as test (15 flowers)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)
X_test

array([[  1.11241876e+09,   2.56340000e+04,   4.17343225e+06, ...,
          0.00000000e+00,   7.60000000e+01,   1.00000000e+01],
       [  1.11234254e+09,   1.24354000e+05,   8.95024431e+06, ...,
          0.00000000e+00,   1.30000000e+01,   1.79200000e+03],
       [  1.11227764e+09,   2.26590000e+05,   1.04896253e+07, ...,
          2.00000000e+00,   4.70000000e+01,   4.38000000e+02],
       ...,
       [  1.11237865e+09,   1.52443000e+05,   7.56528031e+06, ...,
          0.00000000e+00,   4.00000000e+00,   6.14000000e+02],
       [  1.11219014e+09,   1.04065000e+05,   1.13564083e+07, ...,
          0.00000000e+00,   6.00000000e+00,   2.10000000e+01],
       [  1.11231222e+09,   2.06854000e+05,   1.00026573e+07, ...,
          0.00000000e+00,   0.00000000e+00,   4.60000000e+01]])

In [14]:
X = PolynomialFeatures(interaction_only=True).fit_transform(X_train).astype(int)
X

MemoryError: