In [1]:
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
from matplotlib.mlab import bivariate_normal
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np
import warnings
import datetime as dt
import seaborn as sns
warnings.filterwarnings('ignore')
import plotly

In [19]:
# Carga de archivos
post_educacion  = pd.read_csv('../data/final_data/postulantes_educacion.csv', dtype = {
    'nombre': 'category',
    'estado': 'category'
})

In [20]:
post_gen_edad   = pd.read_csv('../data/final_data/postulantes_genero_y_edad.csv', dtype = {
    'sexo': 'category'    
})

In [21]:
post_gen_edad.head()

   Unnamed: 0 idpostulante  sexo  edad
0           0         NM5M   FEM  47.0
1           1         5awk   FEM  55.0
2           2         ZaO5   FEM  39.0
3           3         NdJl  MASC  49.0
4           4         eo2p  MASC  37.0

In [22]:
post_educacion.head()

   Unnamed: 0 idpostulante    nombre    estado  valor_educacion
0           0         NdJl  Posgrado  En Curso               15
1           3        axaPJ  Posgrado  En Curso               15
2           6        Z48mz  Posgrado  En Curso               15
3           8        a4zEZ  Posgrado  En Curso               15
4          11        6AWqO  Posgrado  En Curso               15

In [23]:
post_educacion.columns

Index(['Unnamed: 0', 'idpostulante', 'nombre', 'estado', 'valor_educacion'], dtype='object')

In [24]:
post_educacion.drop('Unnamed: 0', axis=1, inplace=True)
post_gen_edad.drop('Unnamed: 0', axis=1, inplace=True)

### Me quedo con esta data de educacion

In [27]:
post_educacion.count()

idpostulante       447909
nombre             447909
estado             447909
valor_educacion    447909
dtype: int64

In [28]:
post_gen_edad.count()

idpostulante    498635
sexo            498635
edad            392276
dtype: int64