In [1]:
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
from matplotlib.mlab import bivariate_normal
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np
import warnings
import datetime as dt
import seaborn as sns
warnings.filterwarnings('ignore')
import plotly

In [2]:
# Carga de archivos
post_educacion  = pd.read_csv('../data/final_data/postulantes_educacion.csv', dtype = {
    'nombre': 'category',
    'estado': 'category'
})

In [3]:
post_gen_edad   = pd.read_csv('../data/final_data/postulantes_genero_y_edad.csv', dtype = {
    'sexo': 'category'    
})

In [41]:
vistas          = pd.read_csv('../data/final_data/vistas.csv'       )

In [4]:
postulaciones   = pd.read_csv('../data/final_data/postulaciones.csv', parse_dates=['fechapostulacion'])

In [17]:
avisos_detalles = pd.read_csv('../data/final_data/avisos_detalles.csv', dtype= {
    'nombre_zona': 'category',
    'ciudad': 'category',
    'tipo_de_trabajo': 'category',
    'nivel_laboral': 'category',
})

In [19]:
avisos_detalles.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
post_gen_edad.head()

   Unnamed: 0 idpostulante  sexo  edad
0           0         NM5M   FEM  47.0
1           1         5awk   FEM  55.0
2           2         ZaO5   FEM  39.0
3           3         NdJl  MASC  49.0
4           4         eo2p  MASC  37.0

In [6]:
post_educacion.head()

   Unnamed: 0 idpostulante    nombre    estado  valor_educacion
0           0         NdJl  Posgrado  En Curso               15
1           3        axaPJ  Posgrado  En Curso               15
2           6        Z48mz  Posgrado  En Curso               15
3           8        a4zEZ  Posgrado  En Curso               15
4          11        6AWqO  Posgrado  En Curso               15

In [7]:
post_educacion.columns

Index(['Unnamed: 0', 'idpostulante', 'nombre', 'estado', 'valor_educacion'], dtype='object')

In [8]:
post_educacion.drop('Unnamed: 0', axis=1, inplace=True)
post_gen_edad.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
vistas.drop('Unnamed: 0', axis=1, inplace=True)

NameError: name 'vistas' is not defined

In [10]:
postulaciones.drop('Unnamed: 0', axis=1, inplace=True)

### Me quedo con esta data de educacion

In [11]:
post_educacion.count()

idpostulante       447909
nombre             447909
estado             447909
valor_educacion    447909
dtype: int64

In [12]:
#ordeno y me quedo con los maximos valores de edad.
post_gen_edad.sort_values(['idpostulante','edad'], ascending=True, inplace=True)
post_gen_edad.drop_duplicates(subset=['idpostulante','sexo'], keep='last',inplace=True)
post_gen_edad.head()

       idpostulante  sexo  edad
345829      0z5Dmrd  MASC  24.0
345839      0z5JW1r  MASC  23.0
96079       0z5VvGv  MASC  30.0
308178      0zB01pE  MASC  25.0
308107      0zB026d   FEM  46.0

In [13]:
#aca tengo dudas de que usar, por ahora me quedo con los que tienen datos en los 2 df
post_full = post_educacion.merge(post_gen_edad, how='inner', on='idpostulante')
post_full.head()

  idpostulante    nombre    estado  valor_educacion  sexo  edad
0         NdJl  Posgrado  En Curso               15  MASC  51.0
1        axaPJ  Posgrado  En Curso               15  MASC  48.0
2        Z48mz  Posgrado  En Curso               15  MASC  51.0
3        a4zEZ  Posgrado  En Curso               15  MASC  42.0
4        6AWqO  Posgrado  En Curso               15  MASC  47.0

In [14]:
vistas.head()

NameError: name 'vistas' is not defined

In [15]:
postulaciones.head()

   idaviso idpostulante    fechapostulacion
0  8725750       YaZbp1 2018-02-07 10:20:45
1  8725750      ow2WG6Z 2018-01-15 22:14:50
2  8725750      bOzeDjd 2018-01-15 10:18:15
3  8725750      lDLa0LM 2018-02-02 17:19:17
4  8725750      mz5DvlG 2018-01-25 12:19:28

In [16]:
full_postulaciones = post_full.merge(postulaciones, how='inner', on='idpostulante')
full_postulaciones.head()

,idpostulante,nombre,estado,valor_educacion,sexo,edad,idaviso,fechapostulacion
0,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29
1,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29
2,NdJl,Posgrado,En Curso,15,MASC,51.0,1112261212,2018-01-16 08:50:30
3,NdJl,Posgrado,En Curso,15,MASC,51.0,1112261212,2018-01-16 08:50:30
4,NdJl,Posgrado,En Curso,15,MASC,51.0,1112273308,2018-01-23 07:53:47

In [20]:
full_postulaciones_aviso = full_postulaciones.merge(avisos_detalles, how='inner', on='idaviso')
full_postulaciones_aviso.head()

,idpostulante,nombre,estado,valor_educacion,sexo,edad,idaviso,fechapostulacion,titulo,descripcion,nombre_zona,ciudad,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,NaN,NEW TALENT
1,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,NaN,NEW TALENT
2,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,NaN,NEW TALENT
3,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,NaN,NEW TALENT
4,NdJl,Posgrado,En Curso,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,NaN,NEW TALENT

In [21]:
#quito campos que supongo que no utilizare
full_postulaciones_aviso.drop(['ciudad', 'nombre', 'estado', 'nombre_area'], axis=1, inplace=True)

In [22]:
full_postulaciones_aviso.head()

,idpostulante,valor_educacion,sexo,edad,idaviso,fechapostulacion,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,denominacion_empresa
0,NdJl,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,NEW TALENT
1,NdJl,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,NEW TALENT
2,NdJl,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,NEW TALENT
3,NdJl,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,NEW TALENT
4,NdJl,15,MASC,51.0,1112260409,2018-01-24 05:17:29,Responsable de Control de Gestión  Red de Con...,<p>En <strong>New Talent</strong> buscamos par...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,NEW TALENT

In [ ]:
full_postulaciones_aviso.to_csv('../data/final_data/full_data_postulaciones.csv', sep=',', encoding='utf-8')