In [2]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
%matplotlib inline

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
# full_data = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas3.csv', encoding='utf-8')
# full_data.shape

In [4]:
# full_data.head()

In [5]:
# df = full_data[['idaviso', 'idpostulante', 'timestamp', 'valor_educacion', 'sexo', 'idtitulo', 
# 'idzona', 'idciudad', 'idmapacalle', 'idtipo_de_trabajo',
# 'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa', 'se_postulo']]
# 
# df['timestamp'] = df['timestamp'].apply(pd.to_datetime)
# 
# now = pd.Timestamp(dt.datetime.now())
# pd.to_datetime(now)
# 
# df['timestamp'] = (now - df['timestamp']).apply(lambda x: x.total_seconds())
# df.to_csv('../data/adri_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8', index=False)

In [15]:
df = pd.read_csv('../data/adri_data/merge/merged.csv', encoding='utf-8')
df['avg'] = df['avg'].apply(lambda x: 1 if x > 0 else 0)
df.head()

,id,sepostulo_x,sepostulo_y,sepostulo_x.1,sepostulo_y.1,sepostulo_x.2,sepostulo_y.2,sepostulo_x.3,sepostulo_y.3,sepostulo_x.4,...,sepostulo_y.9,sepostulo_x.10,sepostulo_y.10,sepostulo_x.11,sepostulo_y.11,sepostulo_x.12,sepostulo_y.12,sepostulo_x.13,sepostulo_y.13,avg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df.columns

Index(['id', 'sepostulo_x', 'sepostulo_y', 'sepostulo_x.1', 'sepostulo_y.1',
       'sepostulo_x.2', 'sepostulo_y.2', 'sepostulo_x.3', 'sepostulo_y.3',
       'sepostulo_x.4', 'sepostulo_y.4', 'sepostulo_x.5', 'sepostulo_y.5',
       'sepostulo_x.6', 'sepostulo_y.6', 'sepostulo_x.7', 'sepostulo_y.7',
       'sepostulo_x.8', 'sepostulo_y.8', 'sepostulo_x.9', 'sepostulo_y.9',
       'sepostulo_x.10', 'sepostulo_y.10', 'sepostulo_x.11', 'sepostulo_y.11',
       'sepostulo_x.12', 'sepostulo_y.12', 'sepostulo_x.13', 'sepostulo_y.13',
       'avg'],
      dtype='object')

In [17]:
# X will have the numeric data, Y will have the target class
dfix = df[['sepostulo_x', 'sepostulo_y', 'sepostulo_x.1', 'sepostulo_y.1',
       'sepostulo_x.2', 'sepostulo_y.2', 'sepostulo_x.3', 'sepostulo_y.3',
       'sepostulo_x.4', 'sepostulo_y.4', 'sepostulo_x.5', 'sepostulo_y.5',
       'sepostulo_x.6', 'sepostulo_y.6', 'sepostulo_x.7', 'sepostulo_y.7',
       'sepostulo_x.8', 'sepostulo_y.8', 'sepostulo_x.9', 'sepostulo_y.9',
       'sepostulo_x.10', 'sepostulo_y.10', 'sepostulo_x.11', 'sepostulo_y.11',
       'sepostulo_x.12', 'sepostulo_y.12', 'sepostulo_x.13', 'sepostulo_y.13']]
X = np.array(dfix)
y = np.array(df['avg'])

In [25]:
# Split into train and test, use only 10% as test (15 flowers)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)
X_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1]], dtype=int64)

In [26]:
y_test

array([0, 0, 1, ..., 0, 1, 1], dtype=int64)

In [27]:
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors=3)

In [28]:
# FIT (this does nothing in normal KNN)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [29]:
# predict the response
pred = knn.predict(X_test)
pred.shape

(25000,)

In [30]:
# evaluate accuracy
print (accuracy_score(y_test, pred)) # 3 = 0.8889779230366393
# evaluate accuracy
print (accuracy_score(y_test, pred)) # 5 = 0.8934198156362191

1.0
1.0

In [34]:
pred_df = pd.DataFrame(pred)
pred_df.head()

   0
0  0
1  0
2  1
3  1
4  0

# Predigo con todos los datos

In [37]:
pred_full_data = knn.predict(dfix)

In [39]:
dfix['sepostulo'] = pred_full_data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
dfix2 = df[['id']]

In [43]:
dfix2['sepostulo'] = pred_full_data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
dfix2.shape

(100000, 1)

In [48]:
pred_full_data.shape

(100000,)

In [49]:
dfix2['sepostulo'] = pred_full_data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
dfix2.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [51]:
dfix2.to_csv('../data/adri_data/merge/overfitting.csv', encoding='utf-8', index=False)