# Realizo la clasificacion usando Bernoulli Naive Bayes

## Tabla de resultados

## Importo librerias necesarias

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
#Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
#Bernoulli Naive Bayes
from sklearn.naive_bayes import BernoulliNB
#Standard Scaler
from  sklearn.preprocessing  import StandardScaler
#PCA
from sklearn.decomposition import PCA

from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn import preprocessing

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.datasets import load_wine
from sklearn.pipeline import make_pipeline

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Leo todos los datos

In [2]:
df = pd.read_csv('../../data/adri_data/entrenamiento_postulaciones_vistas17_full.csv', encoding='utf-8')
df.head()

,idaviso,esta_online,idtipo_de_trabajo,idnivel_laboral,idnombre_area,idpostulante,month,day,dayofweek,hour,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,idpostulante_int,se_postulo
0,1112463331,1,0,0,182,lD29ko8,4,23,0,12,10,1,39,182,0,0,411659,0
1,1111117368,1,0,0,182,kPjlzkW,4,14,5,4,7,-1,22,182,0,0,410684,0
2,1112375007,1,0,2,102,vVYMDXX,3,31,5,3,12,1,25,142,0,0,468623,0
3,1112440654,1,0,0,182,8MBLq9D,4,4,2,10,11,1,24,182,0,0,100860,1
4,1112484998,0,0,0,2,A39MmJm,4,24,1,16,9,1,26,-1,-1,-1,130301,0

In [3]:
# df['sexo'] = df['sexo'] * 100
# df['valor_educacion'] = df['valor_educacion'].apply(lambda x: x*10)
# vistas_y_postulaciones['month'] = vistas_y_postulaciones['month'].apply(lambda x: 2**x)
# vistas_y_postulaciones['day'] = vistas_y_postulaciones['day'].apply(lambda x: 2**x)
# vistas_y_postulaciones['dayofweek'] = vistas_y_postulaciones['dayofweek'].apply(lambda x: 2**x)
# vistas_y_postulaciones['hour'] = vistas_y_postulaciones['hour'].apply(lambda x: 2**x)

# df['pref1'] = df['idnombre_area_pref'] == df['idnombre_area']
# df['pref2'] = df['idnivel_laboral_pref'] == df['idnivel_laboral']
# df['pref3'] = df['idtipo_de_trabajo_pref'] == df['idtipo_de_trabajo']

In [4]:
# monthMean = df[df['month'] != 0]['month'].mean()
# dayMean = df[df['day'] != 0]['day'].mean()
# hourMean = df[df['hour'] != 0]['hour'].mean()
# dayofweekMean = df[df['dayofweek'] != 0]['dayofweek'].mean()
# df['month'] = df['month'].apply(lambda x: monthMean if x == 0 else x)
# df['day'] = df['day'].apply(lambda x: dayMean if x == 0 else x)
# df['hour'] = df['hour'].apply(lambda x: hourMean if x == 0 else x)
# df['dayofweek'] = df['dayofweek'].apply(lambda x: dayofweekMean if x == 0 else x)

In [5]:
df['se_postulo'] = df['se_postulo'].apply(lambda x: 1 if x == 1 else 0)

In [6]:
def dropCols(df):
    cols = df.head(0)
    
    cols = cols[[
        'idaviso', 
        'esta_online',         
        'idtipo_de_trabajo', 
        'idnombre_area', 
        'idnivel_laboral',        
        'month',
        'day', 
        'dayofweek', 
        'hour', 
        'sexo', 
        'edad', 
        'idpostulante_int',        
        'valor_educacion',        

        #'pref1',
        #'pref2',
        #'pref3'

        
        #'idnombre_area_pref',             
        #'idnivel_laboral_pref',    
        #'idtipo_de_trabajo_pref',           
    ]]
    
    ##cols.drop([
    ##    # 'sexo',
    ##    # 'edad',
    ##    # 'month', 'day', 'dayofweek', 'hour', 
    ##    # 'esta_online',    
    ##    # 'idpostulante_int',    
    ##    # 'idaviso',        
    ##    #'idnombre_area',        
    ##    #'idtipo_de_trabajo',     
##
    ##    'idnivel_laboral',  
    ##    'idnombre_area_pref',             
    ##    'idnivel_laboral_pref',    
    ##    'idtipo_de_trabajo_pref',        
    ##    'valor_educacion',
##
    ##    'se_postulo',    
    ##    'idpostulante',    
    ##    'sepostulo'
    ##],inplace=True, axis=1)
    return cols.columns

cols = dropCols(df)

In [7]:
cols

Index(['idaviso', 'esta_online', 'idtipo_de_trabajo', 'idnombre_area',
       'idnivel_laboral', 'month', 'day', 'dayofweek', 'hour', 'sexo', 'edad',
       'idpostulante_int', 'valor_educacion'],
      dtype='object')

In [8]:
dfix = df.loc[:,cols]

In [9]:
X = np.array(dfix)
y = np.array(df['se_postulo'])

In [10]:
clf = make_pipeline(preprocessing.QuantileTransformer(), GaussianNB())

In [11]:
#for i in range(0, 4):
#    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=(0.99 - i * 0.25), random_state=7506)
#     clf.fit(X_train, y_train)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('quantiletransformer', QuantileTransformer(copy=True, ignore_implicit_zeros=False, n_quantiles=1000,
          output_distribution='uniform', random_state=None,
          subsample=100000)), ('gaussiannb', GaussianNB(priors=None))])

In [12]:
clf.score(X_test, y_test) # 0.8001382262259503

0.8001382262259503

## Predigo con todos los datos

In [13]:
X_full_data = X
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data

## Armo .csv para subir a Kaggle

In [14]:
top100_full = pd.read_csv("../../test_final_100k.csv", encoding='utf-8')
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]

In [15]:
top100_full.sort_values('sepostulo', ascending=False)
top100_full.drop_duplicates('id', inplace=True)

In [16]:
top100_full.fillna(0, inplace=True)
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')

In [17]:
top100_full[top100_full['sepostulo'] == 0].shape

(39903, 3)

In [18]:
top100_full[top100_full['sepostulo'] == 1].shape # 59427

(60097, 3)

In [19]:
top100_full[top100_full['sepostulo'] == -1].shape

(0, 3)

In [20]:
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

594       0
648       0
736       0
749       0
754       0
755       0
761       0
767       0
775       0
852       0
859       0
903       0
904       0
909       0
924       0
929       0
939       0
941       0
943       0
947       0
949       0
955       0
979       0
983       0
989       0
993       0
999       0
1004      0
1005      0
1022      0
         ..
152372    0
152374    0
152383    0
152397    0
152421    0
152424    0
152429    0
152440    0
152442    0
152459    0
152466    0
152468    0
152476    0
152478    0
152481    0
152484    0
152487    0
152498    0
152499    0
152504    0
152513    0
152515    0
152519    0
152522    0
152527    0
152529    0
152543    0
152554    0
152571    0
152573    0
Name: sepostulo, Length: 17014, dtype: int32

In [21]:
top100_full.drop('se_postulo', axis=1, inplace=True)

In [23]:
top100_full.to_csv('top100k_KNN_QuantileTransformer_PCA_Set17_full_GNB.csv', encoding='utf-8', index=False)

In [26]:
# top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
# top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

In [53]:
top100_full.shape

(100000, 3)