# Realizo la clasificacion usando Diferentes Algoritmos

## Load Libs

In [1]:
import pandas as pd #Pandas 
import numpy as np #Numpy
from sklearn.model_selection import train_test_split #Lib to perform Train Test Split

#Feature Enginering Libs:
from sklearn.preprocessing import QuantileTransformer #QuantileTransformer
from  sklearn.preprocessing  import StandardScaler #Standard Scaler
from sklearn.decomposition import PCA #PCA

#Machine Learning Algorithms

from sklearn.ensemble import GradientBoostingClassifier #Gradient Boosting
from sklearn.naive_bayes import BernoulliNB #Bernoulli Naive Bayes

## Read SRC

In [2]:
df = pd.read_csv('src.csv', encoding='utf-8')
df.head()

,day,dayofweek,edad,hour,idaviso,idpostulante,month,se_postulo,sexo,valor_educacion
0,19,4,37.0,7,1112248724,NjlD,1,1,1.0,12
1,24,2,39.0,15,1112286523,ZaO5,1,1,1.0,11
2,24,2,39.0,15,1112272060,ZaO5,1,1,1.0,11
3,26,4,39.0,8,1112288401,ZaO5,1,1,1.0,11
4,30,1,39.0,13,1112300563,ZaO5,1,1,1.0,11

In [3]:
cols = df.head(0)

In [4]:
cols.columns

Index(['day', 'dayofweek', 'edad', 'hour', 'idaviso', 'idpostulante', 'month',
       'se_postulo', 'sexo', 'valor_educacion'],
      dtype='object')

In [5]:
cols.drop(['idpostulante','idaviso','se_postulo'],inplace=True, axis=1)
cols = cols.columns

/home/sebastian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
cols

Index(['day', 'dayofweek', 'edad', 'hour', 'month', 'sexo', 'valor_educacion'], dtype='object')

In [7]:
X = np.array(df.loc[:,cols])
y = np.array(df['se_postulo'])

In [8]:
df.groupby('se_postulo')['se_postulo'].count()

se_postulo
0    16754298
1     6604534
Name: se_postulo, dtype: int64

## Quantile Transformer

In [9]:
#qt = QuantileTransformer(n_quantiles=10, random_state=0)
#qt.fit(X)
#X = qt.transform(X)

## Scaler

In [10]:
scaler = StandardScaler() 
scaler.fit(X)
X = scaler.transform(X)

## Train Test Split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=7506)

## Classifiers

In [12]:
clf = BernoulliNB()
#clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)

## Train

In [13]:
clf.fit(X_train, y_train);

## Score

In [14]:
clf.score(X_test, y_test)

0.9999764543102312

## Predict

In [15]:
X_full_data = X
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data

In [16]:
df.groupby('sepostulo')['sepostulo'].count()

sepostulo
0    16755009
1     6603823
Name: sepostulo, dtype: int64

## Build top100k.csv

In [17]:
top100_full = pd.read_csv("src/test_final_100k.csv", encoding='utf-8')
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full = top100_full[['id','sepostulo']]

In [18]:
top100_full = top100_full.fillna(0)

In [19]:
top100_full['sepostulo'] = top100_full['sepostulo'].astype(int)
top100_full.drop_duplicates('id', inplace=True)
top100_full.to_csv('top100k.csv', encoding='utf-8', index=False)

In [20]:
top100_full.groupby('sepostulo')['sepostulo'].count()

sepostulo
0    65504
1    34496
Name: sepostulo, dtype: int64