# Realizo la clasificacion usando Diferentes Algoritmos

## Load Libs

In [1]:
######################            Utils               #########################
import pandas as pd                                     #Pandas 
import numpy as np                                      #Numpy
from sklearn.model_selection import train_test_split    #Lib to perform Train Test Split

#######################    Feature Enginering Libs    ######################### 
from sklearn.preprocessing import QuantileTransformer   #QuantileTransformer
from  sklearn.preprocessing  import StandardScaler      #Standard Scaler
from sklearn.decomposition import PCA                   #PCA

#######################  Machine Learning Algorithms  ######################### 
from sklearn.ensemble import GradientBoostingClassifier #Gradient Boosting
from sklearn.naive_bayes import BernoulliNB             #Bernoulli Naive Bayes

## Read SRC

In [2]:
df = pd.read_csv('src.csv', encoding='utf-8')
df.head(15)

,idaviso,idpostulante,month,day,dayofweek,hour,valor_educacion,sexo,edad,se_postulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,1112248724,NjlD,1,19,4,7,12,1,37,1,7,1,4,119
1,1112248724,MV6eM8N,1,30,1,23,11,0,26,1,7,1,4,119
2,1112248724,5LzQkN,1,15,0,7,12,1,32,1,7,1,4,119
3,1112248724,8M2rOBz,1,30,1,22,12,1,26,1,7,1,4,119
4,1112248724,Dr6V3Da,1,23,1,15,12,1,27,1,7,1,4,119
5,1112248724,8mkDQD,1,21,6,18,18,1,29,1,7,1,4,119
6,1112248724,VNk6V22,1,15,0,9,11,1,24,1,7,1,4,119
7,1112248724,dYjLleA,1,17,2,9,17,1,31,1,7,1,4,119
8,1112248724,xkadArb,1,15,0,22,10,1,32,1,7,1,4,119
9,1112248724,xkvx9D0,1,22,0,7,12,0,25,1,7,1,4,119
10,1112248724,aj1v0,1,17,2,11,10,1,44,1,7,1,4,119
11,1112248724,6OkGl,1,22,0,0,11,1,45,1,7,1,4,119
12,1112248724,686xdx,1,24,2,8,10,1,27,1,7,1,4,119
13,1112248724,lDw9dxz,1,15,0,14,18,1,33,1,7,1,4,119
14,1112248724,NzdJNoJ,1,17,2,6,10,1,40,1,7,1,4,119

In [3]:
cols = df.head(0)

In [4]:
cols.columns

Index(['idaviso', 'idpostulante', 'month', 'day', 'dayofweek', 'hour',
       'valor_educacion', 'sexo', 'edad', 'se_postulo', 'nombre_zona',
       'tipo_de_trabajo', 'nivel_laboral', 'nombre_area'],
      dtype='object')

In [5]:
cols.drop(['idpostulante','idaviso','se_postulo'],inplace=True, axis=1)
cols = cols.columns

/home/sebastian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
cols

Index(['month', 'day', 'dayofweek', 'hour', 'valor_educacion', 'sexo', 'edad',
       'nombre_zona', 'tipo_de_trabajo', 'nivel_laboral', 'nombre_area'],
      dtype='object')

In [7]:
X = np.array(df.loc[:,cols])
y = np.array(df['se_postulo'])

In [8]:
df.groupby('se_postulo')['se_postulo'].count()

se_postulo
0    3752179
1    6187929
Name: se_postulo, dtype: int64

## Scaler

In [9]:
scaler = StandardScaler() 
scaler.fit(X)
X = scaler.transform(X)

/home/sebastian/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

## Train Test Split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=7506)

## Classifiers

In [11]:
clf = BernoulliNB()
#clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)

## Train

In [12]:
clf.fit(X_train, y_train);

## Score

In [13]:
clf.score(X_test, y_test)

0.7398469433436853

## Predict

In [14]:
X_full_data = X
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data

In [15]:
df.groupby('sepostulo')['sepostulo'].count()

sepostulo
0    3557092
1    6383016
Name: sepostulo, dtype: int64

## Build top100k.csv

In [16]:
top100_full = pd.read_csv("src/test_final_100k.csv", encoding='utf-8')

In [17]:
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])

In [18]:
top100_full = top100_full[['id','sepostulo']]

In [19]:
#top100_full = top100_full.drop_duplicates('id', keep='first')

In [20]:
top100_full.isnull().sum()

id               0
sepostulo    60066
dtype: int64

In [21]:
top100_full = top100_full.fillna(0)

In [22]:
top100_full['sepostulo'] = top100_full['sepostulo'].astype(int)

top100_full.to_csv('top100k.csv', encoding='utf-8', index=False)

In [23]:
top100_full.groupby('sepostulo')['sepostulo'].count()
#0    60134
#1    39866

sepostulo
0    60135
1    39865
Name: sepostulo, dtype: int64