# Realizo la clasificacion usando Neural Network: Multi-layer Perceptron

## Tabla de resultados

In [1]:
# Aplicando Scaler:                           en Jupyter 0.8105548320964798, en Kaggle 0.83976

# Aplicando Scaler y luego PCA(1 Componente): en Jupyter 0.6473592000460224, en Kaggle 0.86418
# Aplicando Scaler y luego PCA(2 Componente): en Jupyter 0.6878966168264378, en Kaggle 0.86645
# Aplicando Scaler y luego PCA(3 Componente): en Jupyter 0.7500436690357772, en Kaggle 0.84915

# Aplicando PCA(1 Componente) y luego Scaler: en Jupyter 0.7652969755924084, en Kaggle 0.84879
# Aplicando PCA(2 Componente) y luego Scaler: en Jupyter [Probar]          , en Kaggle [Probar]
# Aplicando PCA(3 Componente) y luego Scaler: en Jupyter [Probar]          , en Kaggle [Probar]

## Importo librerias necesarias

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
#Standard Scaler
from  sklearn.preprocessing  import StandardScaler
#Multi-layer Perceptron
from sklearn.neural_network import MLPClassifier
#PCA
from sklearn.decomposition import PCA

## Leo todos los datos

In [3]:
df = pd.read_csv('entrenamiento_postulaciones_vistas9.csv', encoding='utf-8')
df.head()

,idaviso,esta_online,titulo,descripcion,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,...,idpostulante,timestamp,valor_educacion,sexo,edad,idnombre_area_pref,idnivel_laboral_pref,idtipo_de_trabajo_pref,se_postulo,idpostulante_int
0,1112243448,1,8589934592,4120231825783194672,0,0,0,1,1,182,...,VNk0vZl,5.568174e+06,6,2,37,5,0,0,0,253283
1,1112394752,0,1297036692686962688,4697431300652990536,0,0,0,0,0,2,...,4rdpPbz,6.248119e+06,10,2,27,2,0,0,1,48538
2,1112272845,0,8796160131072,8070459336931147904,0,0,0,0,0,142,...,3NPVp2X,1.180622e+07,9,1,25,142,0,0,1,38241
3,1112247744,0,9086368454017024,8576121502083057184,0,0,0,0,3,142,...,VNJr1DD,1.229320e+07,6,2,26,142,0,0,1,251692
4,1112335465,1,8388608,8322943493810029184,0,0,0,0,0,4,...,MVODZbr,1.023259e+07,6,2,26,2,0,0,1,195525

In [4]:
df.columns

Index(['idaviso', 'esta_online', 'titulo', 'descripcion', 'idzona', 'idciudad',
       'idmapacalle', 'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area',
       'iddenominacion_empresa', 'idpostulante', 'timestamp',
       'valor_educacion', 'sexo', 'edad', 'idnombre_area_pref',
       'idnivel_laboral_pref', 'idtipo_de_trabajo_pref', 'se_postulo',
       'idpostulante_int'],
      dtype='object')

In [5]:
# df.drop(['idzona', 'idciudad', 'idmapacalle'], inplace=True, axis=1)
# df = df[['idaviso', 'idpostulante', 
#          'idnombre_area_pref', 'idnivel_laboral_pref', 'idtipo_de_trabajo_pref',
#          'idnombre_area_pref', 'idnivel_laboral_pref', 'idtipo_de_trabajo_pref', 
#          'valor_educacion','sexo','edad',         
#          'se_postulo']]

In [6]:
cols = df.head(0)
cols.drop(['se_postulo', 'idpostulante'],inplace=True, axis=1)
cols = cols.columns
cols

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Index(['idaviso', 'esta_online', 'titulo', 'descripcion', 'idzona', 'idciudad',
       'idmapacalle', 'idtipo_de_trabajo', 'idnivel_laboral', 'idnombre_area',
       'iddenominacion_empresa', 'timestamp', 'valor_educacion', 'sexo',
       'edad', 'idnombre_area_pref', 'idnivel_laboral_pref',
       'idtipo_de_trabajo_pref', 'idpostulante_int'],
      dtype='object')

In [7]:
# mintimestamp = df['timestamp'].min()
# df['timestamp'] = df['timestamp']-mintimestamp
# mintimestamp = df['idpostulante_int'].min()
# df['idpostulante_int'] = df['idpostulante_int']-mintimestamp

In [8]:
X = np.array(df.loc[:,cols])
y = np.array(df['se_postulo'])

## Aplico el Scaler

In [9]:
# scaler = StandardScaler() 
# scaler.fit(X)
# X = scaler.transform(X)

## Aplico PCA

In [10]:
pca = PCA(n_components=3)
pca.fit(X)
X = pca.transform(X)

## Realizo el Train Test Split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=7506)

## Defino el clasificador

In [12]:
# clf = MLPClassifier(solver='lbfgs', alpha=1,hidden_layer_sizes=(7, 4), random_state=7506)
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)

## Entreno el clasificador

In [13]:
clf.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

## Reviso el score

In [14]:
# df = df[['idaviso', 'idpostulante', 
#          'idnombre_area_pref', 'idnivel_laboral_pref', 'idtipo_de_trabajo_pref',
#          'idnombre_area_pref', 'idnivel_laboral_pref', 'idtipo_de_trabajo_pref', 
#          'valor_educacion','sexo','edad',         
#          'se_postulo']]
# clf.score(X_test, y_test) # 0.6870638252494188

In [15]:
clf.score(X_test, y_test) # 0.6870638252494188

0.6221470386142608

## Predigo con todos los datos

In [16]:
X_full_data = X
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data

## Armo .csv para subir a Kaggle

In [18]:
top100_full = pd.read_csv("test_final_100k.csv", encoding='utf-8')
top100_full.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [19]:
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.fillna(0, inplace=True)
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']
top100_full.drop('se_postulo', axis=1, inplace=True)

In [20]:
top100_full.to_csv('top100k_perc_12.csv', encoding='utf-8', index=False)