In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
#Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
#Bernoulli Naive Bayes
from sklearn.naive_bayes import BernoulliNB
#Standard Scaler
from  sklearn.preprocessing  import StandardScaler
#PCA
from sklearn.decomposition import PCA

from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn import preprocessing

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.datasets import load_wine
from sklearn.pipeline import make_pipeline

from math import log
import warnings
import datetime as dt
import seaborn as sns
warnings.filterwarnings('ignore')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('entrenamiento_postulaciones_vistas19_6_pp.csv', encoding='utf-8')
df.head()

,idaviso,idpostulante,se_postulo,idtipo_de_trabajo_int,idnivel_laboral_int,idnombre_area_int,month,day,dayofweek,sexo,edad
0,1112424009,96Xdv15,0,1,4,2,3,26,0,1,28
1,1112424009,96Xdv15,0,1,4,2,3,26,0,1,28
2,1112444846,8MaMbax,0,1,5,163,4,6,4,1,28
3,1112444846,8MaMbax,0,1,5,163,4,6,4,1,28
4,1112393575,VNx0axE,1,1,2,38,3,13,1,-1,36

In [3]:
df.shape

(13752353, 11)

In [4]:
cols = df.head(0)

cols = cols[[        
    'idtipo_de_trabajo_int',         
    'idnivel_laboral_int',   
    'idnombre_area_int', 
    'month',
    'day', 
    'dayofweek',          
    'sexo',         
    'edad', 
]]

cols = cols.columns

In [5]:
dfix = df.loc[:,cols]
dfix.head()

,idtipo_de_trabajo_int,idnivel_laboral_int,idnombre_area_int,month,day,dayofweek,sexo,edad
0,1,4,2,3,26,0,1,28
1,1,4,2,3,26,0,1,28
2,1,5,163,4,6,4,1,28
3,1,5,163,4,6,4,1,28
4,1,2,38,3,13,1,-1,36

In [6]:
X = np.array(dfix)
y = np.array(df['se_postulo']) 

clf = make_pipeline(preprocessing.QuantileTransformer(), GaussianNB())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)
clf.fit(X_train, y_train)   

print (cols)
print (clf.score(X_test, y_test))

del y
del X_train
del X_test 
del y_train
del y_test

Index(['idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
       'month', 'day', 'dayofweek', 'sexo', 'edad'],
      dtype='object')
0.808579708087836

In [7]:
# Index(['idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
#        'month', 'day', 'dayofweek', 'sexo', 'edad'],
#       dtype='object')
# 0.8083100815598433

In [20]:
X_full_data = X
pred_full_data = clf.predict(X_full_data)
df['sepostulo'] = pred_full_data

In [17]:
top100_full = pd.read_csv("../../test_final_100k.csv", encoding='utf-8')
top100_full = pd.merge(top100_full, df[['idaviso','idpostulante', 'se_postulo', 'sepostulo']], how='left', on=['idaviso','idpostulante'])

In [21]:
top100_full.drop_duplicates(inplace=True)

In [22]:
top100_full[top100_full['sepostulo'] == 1].shape # (60092, 2)

(60092, 5)

In [23]:
top100_full[top100_full['sepostulo'] == 0].shape # (39908, 2)

(39908, 5)

In [10]:
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int64)

In [11]:
top100_full = top100_full[['id', 'sepostulo']]

In [13]:
top100_full.sort_values('sepostulo', ascending=False)
top100_full.drop_duplicates('id', inplace=True)

In [14]:
top100_full[top100_full['sepostulo'] == 1].shape # (60092, 2)

(94571, 2)

In [15]:
top100_full[top100_full['sepostulo'] == 0].shape # (39908, 2)

(5429, 2)

In [14]:
top100_full[top100_full['sepostulo'] == -1].shape

(0, 2)

In [15]:
top100_full.to_csv('top100k_QuantileTransformer_Set19_GNB.csv', encoding='utf-8', index=False)

In [53]:
top100_full.shape

(100000, 3)